.Side-LB {
  margin: 16px 0;
}

.Side-LB-List {
  display: flex;
  justify-content: space-around;
  margin: 18px 6px;
}

.Side-LB-List svg {
  background-color: var(--blog-color-lighter);
  padding: 6px;
  border-radius: 50%;
}

.Side-LB-Badge {
  display: flex;
  justify-content: space-evenly;
}

.Side-LB .Stack {
  justify-content: space-evenly;
  padding: 0;
}
