.List-Center {
  margin: 16px 0;
}

.List-Center-Btn-List {
  margin: 12px 5px;
}

.List-Center-Badge {
  display: flex;
  text-align: center;
}

.List-Center-Badge div {
  flex: 1;
}

.List-Center .Stack {
  padding: 0;
}

.List-Center-Badge .Btn-Link {
  padding: 12px;
}


