.Side-LB {
  margin: 16px 0;
}

.Side-LB-List {
  margin: 12px 5px;
}

.Side-LB-Badge {
  display: flex;
  justify-content: space-evenly;
}

.Side-LB-Badge .Btn-Link {
  padding: 9px 12px;
}

.Side-LB .Stack {
  justify-content: space-evenly;
  padding: 0;
}
