.wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.panel {
  position: fixed;
  display: flex;
  z-index: 999;
  transform: translateY(8px);
  flex-direction: column;
  transition: opacity 0.2s;
  box-shadow: var(--shadow-selector);
  padding: 12px 8px;
  gap: 4px;
  white-space: nowrap;
  border-radius: 12px;
  background-color: var(--bg-selector);

  &>div {
    border-radius: 8px;
    cursor: pointer;

    &>* {
      display: flex;
      padding: 12px;
    }

    &:hover {
      background-color: var(--c-indigo-soft);
      color: var(--c-indigo-1);
    }
  }
}

@media screen and (max-width: 960px) {
  .panel {
    font-size: var(--text-sm);
  }
}

.hide {
  opacity: 0 !important;
  pointer-events: none;
}