.Date-Title {
  margin: 16px 0;
}

.Date-Title > div {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}

.Date-Title > div p {
  color: var(--blog-color-darker);
  min-width: 46px;
}

.Date-Title > div a {
  color: var(--blog-theme);
}
