.Date-Title {
  margin: 16px;
  margin-bottom: 6px;
}

.Date-Title > div {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 14px;
}

.Date-Title > div p {
  color: var(--blog-color-darker);
}

.Date-Title > div a {
  flex: 1;
  color: var(--blog-theme);
}
