.wrap {
  --item-h: 32px;
  --max-h: 80vh;
  border-radius: var(--pre-radius);
  overflow: hidden;
  max-height: calc(var(--item-h) + var(--max-h));
}

.empty {
  font-size: 82px;
  color: var(--text-4);
}

.split {
  color: var(--text-4);
  padding: 0 2px;
}

.no_preview {

  & .tabs {
    border-right: none;
    width: 100%;
  }
}

.appdir {
  margin: 10px 8px 4px 12px;
  font-size: var(--text-xs);
  color: var(--text-4);
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapse_all {
  border-radius: 4px;
  font-size: var(--text-xl);

  &:hover {
    background-color: var(--c-gray-soft);
  }
}

.container {
  display: flex;
  align-items: stretch;
  background-color: var(--bg-md-pre);
}

.preview {
  flex-basis: 0%;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: var(--bg-md-pre);

  &>div:nth-child(2) {
    flex: 1;
  }

  & pre {
    border-radius: 0 !important;
    max-height: var(--max-h) !important;
  }

  &.preview_empty {
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  .container {
    display: block;

    &>div {
      width: 100%;
    }
  }
}

.tabs {
  user-select: none;
  padding-bottom: 8px;
  width: max(30%, 120px);
  background-color: var(--bg-file-tree-tabs);
  max-height: var(--max-h);
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.item {
  position: relative;
}

.slash {
  position: absolute;
  z-index: 1;
  top: var(--item-h);
  bottom: 0;
  left: attr(data-pl);
  width: 1px;
  background-color: var(--c-gray-3);
}

.label_wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--text-sm);
  cursor: pointer;
  height: var(--item-h);
  line-height: var(--item-h);
  padding: 0 8px;
  border-radius: 4px;
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--c-gray-soft);
  }

  &>svg {
    flex-shrink: 0;
    color: var(--text-2);
    font-size: var(--text-lg);
  }

  & .active_dir {
    color: var(--c-yellow-1);
  }
}

.label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.active_label {
  background-color: var(--c-gray-soft);
  color: var(--c-indigo-1);
}

.header_tab {
  width: 100%;
}

.header_tab_item {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
  font-size: var(--text-sm);
  color: var(--text-2);

  & svg {
    color: var(--c-gray-3);
    font-size: var(--text-base);
    transition: color 0.15s;

    &:hover {
      color: var(--c-indigo-1);
    }
  }
}

.dirname {
  font-size: 10px;
  color: var(--text-4);
}