.Friend {
  display: flex;
  width: 50vw;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 1240px) {
  .Friend {
    gap: 32px;
  }
}

@media screen and (max-width: 960px) {
  .Friend {
    gap: 8px;
  }
}
