.wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 960px) {
  .wrap {
    width: 100%;
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-4);
  margin-bottom: 24px;
  overflow-x: auto;
  scrollbar-width: none;
  font-size: 16px;

  &::-webkit-scrollbar {
    height: 0;
  }

  & > a {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 12px;
    gap: 8px;
    transition: color 150ms;

    &:hover {
      color: var(--text-1);
    }

    &.active {
      color: var(--text);
      background-color: var(--c-gray-soft);
    }
  }

  & svg {
    box-sizing: content-box;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
  }
}

.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin-bottom: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--divider);
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--c-gray-soft);
  }
}

.title {
  font-weight: 600;
  color: var(--text);
}

.desc {
  line-height: 1.5rem;
  font-size: 14px;
  color: var(--text-2);
}

.subtitle {
  color: var(--text-3);
  font-weight: 600;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  font-size: 16px;
  svg {
    font-size: 14px;
  }
}

.year {
  font-weight: 700;
  margin: 12px 0;
  font-size: 20px;
  text-indent: 8px;
}
