.action {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-4);
  margin-bottom: 24px;
  overflow-x: auto;
  scrollbar-width: none;
  font-size: 16px;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.action_item {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 12px;
  gap: 8px;
  transition: color 150ms;

  &:hover {
    color: var(--text-1);
  }

  &.active {
    color: var(--text);
    background-color: var(--c-gray-soft);
  }

  & svg {
    box-sizing: content-box;
    padding: 8px;
    border-radius: 50%;
  }
}

.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid var(--divider);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--c-gray-soft);
    border-color: var(--c-indigo-soft);
  }
}

.title {
  font-weight: 700;
  color: var(--text);
}

.desc {
  line-height: 1.5rem;
  font-size: 14px;
  color: var(--text-2);
}

.subtitle {
  color: var(--text-3);
  font-weight: 600;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 36px;
  font-size: 16px;
  svg {
    font-size: 18px;
  }
}

@media screen and (max-width: 960px) {
  .bottom {
    font-size: 14px;
    gap: 6px;
  }
}

.year {
  font-weight: 700;
  margin: 12px 0;
  font-size: 20px;
  text-indent: 8px;
}
