.wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 960px) {
  .wrap {
    width: 100%;
  }
}

.action {
  display: flex;
  color: var(--text-4);
  margin-bottom: 24px;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 32px;
  font-size: 20px;

  &::-webkit-scrollbar {
    height: 0;
  }

  & > a {
    transition: color 150ms;

    &:hover {
      color: var(--text-1);
    }
  }
}

@media screen and (max-width: 960px) {
  .action {
    gap: 18px;
    padding-top: 0;
  }
}

.active {
  color: var(--text-1);
}

.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 32px 16px 16px;
  margin-bottom: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--divider);
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--c-gray-soft);
    border-color: var(--c-indigo-soft);
  }
}

.title {
  font-weight: 600;
  font-size: 15px;
  color: var(--text);
}

.desc {
  font-size: 13px;
  line-height: 1.45rem;
  color: var(--text-2);
}

.subtitle {
  color: var(--text-3);
  font-weight: 600;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;

  & > div {
    font-size: 12px;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  svg {
    font-size: 16px;
  }
}
