.Header-Banner {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin: 12px;
  width: max-content;
  padding: 12px;
  background-color: var(--blog-bg-default);
  border-radius: 16px;
  margin-bottom: 24px;
}

.Header-Banner > img {
  border-radius: 50%;
}
