.blog-main {
  flex: 1;
  min-height: calc(100vh - 100px);
  background-color: #fff;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 780px) {
  .blog-main {
    margin: 0 5px 0 0;
  }
}

@media screen and (max-width: 640px) {
  .blog-main {
    margin: 0;
  }
}
