.Side-LT {
  margin: 22px 0 16px 0;
  text-align: center;
}

.Side-LT img {
  border-radius: 50%;
}

.Side-LT > div {
  margin-top: 4px;
  color: var(--blog-color-darker);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Side-LT > div svg {
  font-size: 22px;
}
