.List-Top {
  padding-top: 14px;
  margin: 0 auto;
  text-align: center;
}

.List-Top img {
  border-radius: 50%;
}

.List-Top div {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
}

.List-Top-Me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.List-Top-Me svg {
  font-size: 24px;
  color: #1976d2;
}
