.List-Top {
  padding-top: 14px;
  margin: 0 auto;
  text-align: center;
}

.List-Top img {
  border-radius: 50%;
}

.List-Top div {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
}
