.Header-Menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Header-Menu svg {
  font-size: 22px;
  display: flex;
}

.Header-Menu > div {
  padding: 4px 0;
}

.Header-Menu-List {
  position: fixed;
  left: 6px;
  top: 40px;
  padding: 12px 4px;
  transform: scale(0);
  z-index: 199;
  transform-origin: top;
  color: var(--blog-color-darker);
  background-color: var(--blog-bg-default);
  border-radius: 4px;
  transition: transform 80ms;
}

.Header-Menu-List svg {
  font-size: 18px;
}

.Header-Menu-List > div {
  margin-bottom: 4px;
  font-size: 14px;
  margin-left: 4px;
  margin-right: 4px;
}