.Header-Menu {
  cursor: pointer;
  z-index: 199;
}

.Header-Menu > svg {
  padding: 4px;
  font-size: 22px;
  border-radius: 50%;
}

.Header-Menu > div {
  padding: 4px 0;
  max-width: 100%;
}

.Header-Menu-List {
  position: fixed;
  background-color: var(--blog-bg-default);
  left: 6px;
  top: 48px;
  padding: 8px;
  transform: scale(0);
  z-index: 199;
  transform-origin: top;
  color: var(--blog-color-darker);
  box-shadow: var(--blog-shadow-wide);
  border-radius: 4px;
  transition: transform 80ms;
}

.Header-Menu-List > div {
  padding: 0 4px;
}

.Header-Menu:hover .Header-Menu-List {
  transform: scale(1);
}
