.myself-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  .myself-container {
    width: 100%;
  }
}
.myself-box {
  display: flex;
  align-items: center;
  text-align: left;
  min-height: min-content;
  font-size: 20px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 24px;
  color: white;
  max-width: 280px;
  padding: 14px;
  margin: 10px 16px;
}
.myself-answer-box {
  align-self: flex-start;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  background-color: red;
}
.myself-question-box {
  background-color: #9C27B0;
}
.myself-emoji {
  font-size: 22px;
  padding: 8px;
  background-color: #D1D1D1;
  border-radius: 50%;
}