.console {
  font-size: 13px;
  max-height: 70vh;
  overflow: auto;
  & > div {
    padding: 8px 10px;
    border-bottom: 1px solid var(--divider);
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }
}

.right {
  white-space: pre-wrap;
}

.left {
  color: var(--text-3);
  white-space: nowrap;
}

.num {
  color: rgb(47, 121, 138);
}

.string {
  color: rgb(181, 105, 89);
}

.none {
  color: rgb(171, 89, 89);
}

html[data-theme='dark'] {
  .num {
    color: #4c9a91;
  }
  .string {
    color: #c98a7d;
  }
  .none {
    color: #cb7676;
  }
}
