.Archive {
  padding: 4px 36px;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .Archive {
    padding: 4px 12px;
  }
}

.Archive h2 {
  position: relative;
  cursor: pointer;
  padding: 12px;
}

.Archive h2::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 15px;
  height: 6px;
  border-radius: 18px;
  transition: width 1.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 56px;
  background-color: var(--blog-theme);
  box-shadow: var(--blog-shadow);
}

.Archive h2:hover::after {
  width: 100%;
}
