.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
  margin-bottom: 24px;
}

.title {
  font-size: 32px;
  margin: 0;
  color: var(--text);
}

.date {
  color: var(--text-2);
  font-size: 16px;
}

.tags {
  display: flex;
  gap: 12px;
  margin-top: 8px;

  & > div {
    font-size: 14px;
    padding: 4px 10px;
  }
}