.toc {
  --w: 320px;
  --top: 140px;
  height: 100%;
  color: var(--text-2);
  overflow-x: hidden;
  position: sticky;
  right: 0;
  top: var(--top);
  z-index: 9;
  width: var(--w);
  margin-left: calc(var(--center-rest) - var(--w));
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
}

@media screen and (max-width: 960px) {
  .toc {
    display: none;
  }
}

.link {
  display: block;
  max-width: var(--w);
  height: 24px;
  line-height: 24px;
  transition: color 150ms;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link:hover {
  color: var(--text);
}

.active {
  color: var(--text);
}

.title {
  font-weight: 700;
  color: var(--text);
}
