.wrap {
  margin: 64px 0;
  padding: 24px !important;
}

.loading_wrap {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
}

.comment_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--text-xl);
  margin-bottom: 16px;
}

.comment_title {
  font-weight: 700;
  color: var(--text);
}

.loading {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}

.comment_info {
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  margin: 16px 0;
  gap: 16px;
}

.add_link {
  display: flex;
  align-items: center;
  color: var(--c-indigo-1);
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
  }

  &>svg {
    font-size: 18px;
  }
}

.count {
  color: var(--text-2);
  font-size: var(--text-sm);
  font-weight: 700;
}

.top {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--text-xs);
  padding: 12px 16px;
  line-height: 1;

  &>img {
    border-radius: 50%;
  }
}

.item {
  box-sizing: content-box;
  overflow: hidden;
  background-color: var(--bg-comment);
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid var(--c-gray-soft);

  &>textarea {
    color: var(--text-1);
    border-radius: 0;
    border-color: transparent;
    border-bottom: 1px solid var(--divider);
    border-top: 1px solid var(--divider);

    &:focus {
      border: 1px solid var(--c-indigo-3);
    }
  }
}

.item_active {
  border: 1px solid var(--c-indigo-3);
}

.submit {
  display: flex;
  align-items: center;
  margin: 4px 12px 10px 12px;

  &>button {
    padding: 4px 12px;
    margin: 0;
  }
}

.github_login>button {
  margin-bottom: 12px;
  padding: 6px 12px;
}

.login {
  font-weight: 700;
  color: var(--text);
}

.date {
  font-size: var(--text-xs);
  color: var(--text-3);
}

.owner {
  border: 1px solid var(--divider);
  background-color: var(--c-indigo-soft);
  font-size: var(--text-sm);
  padding: 1px 7px;
  border-radius: 12px;
}


.body {
  font-size: 14px;
  padding: 0 12px;
  color: var(--text) !important;
  border-top: none;
  margin-top: 0 !important;

  & a {
    color: var(--c-indigo-1);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & blockquote {
    margin-left: 0 !important;
  }
}

/* .reactions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  padding: 0 12px 12px 8px;

  &>div {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    white-space: nowrap;
    border-radius: 16px;
    border: 1px solid var(--c-purple-soft);
    cursor: pointer;
    transition: background-color 0.15s;
    font-weight: 700;

    &:hover {
      background-color: var(--c-purple-soft);
    }
  }
} */

.error_link {
  display: flex;
}