.Btn-List-Icon {
  display: flex;
  align-items: center;
  min-width: 38px;
}

.Btn-List-Icon-Link {
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Btn-List-Text {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.Btn-List-Icon svg {
  color: #fff;
  background-color: var(--blog-theme);
  padding: 6px;
  border-radius: 50%;
}
