.Btn-List-Icon {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  min-width: 42px;
}

.Btn-List-Icon-Link {
  border-radius: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Btn-List-Text {
  letter-spacing: 0.5px;
}

.Btn-List-Icon svg {
  color: #fff;
  font-size: 18px;
  background-color: #1976d2;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 780px) {
  .blog-right-fixed .Btn-List-Text {
    display: none;
  }
  .blog-right-fixed .Btn-List-Icon {
    min-width: 24px;
  }
}

@media screen and (max-width: 640px) {
  .blog-right-fixed .Btn-List-Icon-Link {
    display: none;
  }
}
