.list_wrap {
  margin-top: -58px;
}

@media screen and (max-width: 960px) {
  .list_wrap>div {
    &:nth-child(2) {
      border-radius: 12px 12px 0 0 !important;
    }

    &:last-child {
      border-radius: 0 0 12px 12px !important;
    }
  }
}