.wrap>* {
  margin: 16px 0;
}

.tag {
  display: flex;
}

.tag>div {
  cursor: pointer;
  margin-right: 12px;
  font-size: var(--text-sm);
  font-weight: 600;
  background-color: var(--c-indigo-soft);
  color: var(--c-indigo-1);
  padding: 6px 12px;
  border-radius: 12px;
}

.desc {
  font-size: var(--text-lg);
  line-height: 1.65;
}

.links {
  font-size: 28px;
  display: flex;
  gap: 24px;
  color: var(--text-2);

  &>a {
    transition: color 150ms;

    &:hover {
      color: var(--text);
    }
  }
}

.read {
  font-weight: 600;
  color: var(--text);
  font-size: var(--text-xl);
}