.wrap {
  font-size: 18px;

  & > div {
    margin-bottom: 28px;
  }
}

.hi {
  font-size: 48px;
}

.tag > div {
  margin-right: 12px;
  font-size: 18px !important;
}

.desc {
  font-size: 18px;
  line-height: 1.65;
}

.links {
  font-size: 28px;
  display: flex;
  gap: 24px;

  & > a {
    transition: color 150ms;

    &:hover {
      color: var(--text);
    }
  }
}
