.Container {
  display: flex;
  border-radius: 16px;
  justify-content: center;
  align-items: flex-start;
  margin: 12px auto;
}

.Container > div:nth-child(2) {
  box-sizing: border-box;
  border: var(--blog-border);
  margin: 0 16px;
  width: 48%;
  border-radius: 6px;
  background-color: var(--blog-bg-default);
}

.Container > div.Banner {
  border: none;
  background-color: transparent;
}

.Container > div.Post ~ .Side {
  display: none;
}

@media screen and (max-width: 1240px) {
  .Container > div:nth-child(2) {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .Container > div:nth-child(2) {
    width: 100%;
  }
}
