.Container {
  display: flex;
  border-radius: 16px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 12px;
}

.Container > div:nth-child(2) {
  border: 1px solid var(--blog-color-lightest);
  margin: 0 16px;
  width: 48%;
  border-radius: 16px;
  background-color: var(--blog-bg-default);
}

.Container > div.Banner {
  border: none;
  background-color: transparent;
}

.Container > div.Post ~ .Side {
  display: none;
}

@media screen and (max-width: 1240px) {
  .Container > div:nth-child(2) {
    width: 90%;
  }
}
