.Container {
  display: flex;
  border-radius: 16px;
  justify-content: center;
  align-items: flex-start;
  margin: 52px auto;
}

.Container > div:nth-child(2) {
  box-sizing: border-box;
  margin-left: 2%;
  width: 65%;
  max-width: 1340px;
  border-radius: 6px;
}

.Container > div.Banner {
  border: none;
  background-color: transparent;
}

.Container > div.Post ~ .Side {
  display: none;
}

@media screen and (max-width: 1240px) {
  .Container > div:nth-child(2) {
    width: 90%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 960px) {
  .Container > div:nth-child(2) {
    transform: translateX(0);
    width: 100%;
  }
}
