.Side-Left {
  position: fixed;
  width: 17%;
  left: 0.8%;
}

.Side-Right {
  width: 17%;
  margin-right: 0.8%;
}

.Side-Left .Stack {
  justify-content: center;
}

@media screen and (max-width: 1240px) {
  .Side-Right {
    display: none;
  }
  .Side-Left {
    width: 28%;
    left: 10px;
  }
}

@media screen and (max-width: 960px) {
  .Side-Left {
    display: none;
  }
}

.Side-Item {
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--blog-bg-default);
  border-radius: 6px;
  box-shadow: var(--blog-shadow);
  margin-bottom: 6px;
}

.Side-Item .Stack {
  padding: 12px;
  gap: 8px;
}

.Side-Item .Tag {
  margin-right: 0;
}
