.Side-Left {
  position: fixed;
  width: 19%;
  left: 6%;
}

.Side-Right {
  position: absolute;
  width: 19%;
  right: 6%;
}

.Side-Left .Stack {
  justify-content: center;
}

@media screen and (max-width: 1240px) {
  .Side-Right {
    display: none;
  }
  .Side-Left {
    width: 28%;
    left: 10px;
  }
}

@media screen and (max-width: 960px) {
  .Side-Left {
    display: none;
  }
}

.Side-Fixed {
  position: fixed;
  min-width: 240px;
  max-width: 300px;
}

.Side-Item {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.Side-Item .Stack {
  padding: 16px;
}
