.Side-Left {
  position: fixed;
  left: 10%;
  width: 240px;
}

.Side-Right {
  width: 220px;
}

:is(.Side-Left, .Side-Right) > div {
  overflow: hidden;
  padding: 2px 0;
  background-color: var(--blog-bg-default);
  border-radius: 6px;
  box-shadow: var(--blog-shadow);
  margin-bottom: 8px;

  .Tag {
    margin-right: 0;
  }
}

@media screen and (max-width: 1240px) {
  .Side-Right {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .Side-Left {
    display: none;
  }
}
