:target {
  color: #1976d2;
}

.Toc-W {
  overflow: hidden;
  border-radius: 24px;
  min-width: 260px;
  max-width: 320px;
  width: 20%;
}

@media screen and (max-width: 780px) {
  .Toc-W {
    display: none;
  }
}

.Toc-Wrap {
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 16px 0px;
  overflow: hidden;
  position: fixed;
}

.Toc-Wrap h3 {
  padding-left: 16px;
}

.Toc-Date {
  display: flex;
  align-items: center;
  padding: 6px 16px;
}

.Toc-Date p {
  font-size: 14px;
  padding: 4px 0;
}

.Toc-Tags {
  padding-left: 14px;
  padding-bottom: 12px;
}

.Toc-Bottom {
  margin-left: 12px;
  margin-top: 10px;
}
