:target {
  color: #1976d2;
}

.Toc-List-W {
  overflow: hidden;
  border-radius: 24px;
  min-width: 320px;
  max-width: 380px;
}

@media screen and (max-width: 780px) {
  .Toc-List-W {
    display: none;
  }
}

.Toc-List-Wrap {
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);

}

.toc-list {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  font-size: 14px;
}

.toc-list:hover {
  background-color: #f8f8f8!important;
}

.toc-block {
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100%;
  width: 12px;
  height: 20px;
  border-radius: 0 50% 50% 0;
  background-color: #1976d2;
}
