.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--text-3);
  white-space: nowrap;
  margin: 36px auto;

  & > a {
    color: inherit;
    margin-right: 6px;
  }
}

.right svg {
  color: var(--text);
  font-size: 22px;
}
