.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  font-size: 18px;
  background-color: var(--bg-body);
  height: var(--header-h);
  transition: height 200ms;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0 !important;
  width: var(--post-w);
  height: 100%;
  margin: auto;

  & svg {
    font-size: 24px;
  }
}

.hover {
  color: var(--text-2);
  transition: color 125ms ease-in-out;
  cursor: pointer;
  &:hover {
    color: var(--text);
  }
}

@media screen and (max-width: 960px) {
  .header {
    padding: 0 16px;
  }
}

.shadow {
  height: calc((var(--header-h) - 48px));
}

.hide {
  height: 0;
  box-shadow: none;
  overflow: hidden;
}

.item:hover {
  color: var(--text);
}

.left {
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}

.right {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .right {
    gap: 18px;
  }
}
