.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  background-color: var(--bg-body);
  height: var(--header-h);
  transition: height 200ms;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0 !important;
  width: var(--post-w);
  height: 100%;
  margin: auto;

  & a,
  svg {
    color: var(--text-2);
    transition: color 125ms ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--text-1);
    }
  }

  & svg {
    display: block;
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .header {
    width: 100%;
    padding: 0 16px;

    & svg {
      font-size: 28px;
    }
  }
  .left, .right {
    font-size: 18px;
  }
}

.shadow {
  box-shadow: var(--shadow-header);
  height: calc((var(--header-h) - 32px));
}

.hide {
  height: 0;
  box-shadow: none;
  overflow: hidden;
}

.item:hover {
  color: var(--text);
}

.left {
  font-weight: 700;
  font-style: italic;
}

.right {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .right {
    gap: 18px;
  }
}
