.wrap {
  position: relative;
  z-index: 8;
}

.title {
  cursor: pointer;
  color: var(--text-2);
  transition: color 125ms ease-in-out;
  &:hover {
    color: var(--text-1);
  }
  & > svg {
    fill: var(--text);
  }
}

.panel {
  position: absolute;
  z-index: 100;
  bottom: -8px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: nowrap;
  transform: translate(-25%, 100%);
  padding: 4px 0;
  border-radius: 6px;
  border: 1px solid var(--divider);
  background-color: var(--bg-body);

  & > div {
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    &:hover {
      background-color: var(--c-gray-soft);
    }
  }
}

.panelItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 960px) {
  .title > svg {
    font-size: 24px;
  }
}
