.Post {
  padding: 16px 20px 56px 20px;
  margin: 0 230px 0 30px;
  flex: 1;
  overflow-x: scroll;
}

@media screen and (max-width: 1240px) {
  .Post {
    margin-right: 0;
  }
}

@media screen and (max-width: 960px) {
  .Post {
    margin-right: 0;
  }
}
