.Pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.Pagination-Icon-Link {
  display: flex;
  align-items: center;
}

.Pagination-Icon-Link-Active {
  background-color: #9c27b0;
  color: #fff;
}

.Pagination-Link-Wrap {
  display: flex;
  gap: 16px;
  font-size: 1rem;
  font-weight: 700;
}

.Pagination-Link {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
