.wrapper {
  overflow: hidden;
  border-radius: var(--pre-radius);
}

.container {
  display: flex;
  background-color: var(--bg-md-pre);

  &>div {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: block;

    &>div {
      width: 100%;
    }
  }
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--bg-md-pre-bar);
  font-weight: 600;
}

.rerun {
  cursor: pointer;
  transition: color 150ms;

  &:hover {
    color: var(--text);
  }
}