.blog-main {
  flex: 1;
  min-height: calc(100vh - 100px);
  background-color: #fff;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.blog-side-w {
  min-width: 280px;
  max-width: 300px;
  width: 21%;
}

@media screen and (max-width: 640px) {
  .blog-side-w {
    display: none;
  }
}
