.blog-main {
  flex: 1;
  padding: 4px 0;
  min-height: calc(100vh - 100px);
  background-color: #fff;
  margin: 0 auto;
}

.blog-side {
  padding: 2px 0;
  width: 300px;
}

@media screen and (max-width: 640px) {
  .blog-side {
    display: none;
  }
}
