*,
::before,
::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  color: var(--text-1);
  overflow-x: hidden;
  background-color: var(--bg-body);
  text-rendering: optimizeLegibility;
  transition: background-color 100ms;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  font-weight: 700;
  code {
    font-size: inherit !important;
  }
  a {
    font-size: inherit !important;
  }
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.45rem;
}
h3 {
  font-size: 1.25rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}

@media screen and (max-width: 960px) {
  .center {
    width: 100%;
    padding: 0 20px;
    max-width: 100%;
  }
}

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
} */
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: calc(100vh - var(--header-h) - 64px);

  & > h1 {
    font-size: 32px;
  }
  & > div {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-scrollbar);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* list */
ol,
ul {
  margin-top: 6px;
  padding-inline-start: 28px;
  line-height: 26px;
  li {
    padding-left: 4px;
  }
}

p {
  margin: 12px 0;
  line-height: 28px;
  word-break: break-all;
}

strong,
em {
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

img {
  -webkit-tap-highlight-color: transparent;
}
