:root {
  --blog-header-bg: #d1e4f1;
  --blog-theme: #1976d2;
  --blog-scrollbar: #efd4ff;
  --blog-body-color: #111;
  --blog-body-bg: #f5f5f5;
  --blog-post-bg: #fff;
  --blog-skeleton: #e5e7ec;
  --blog-tag-bg: #ecf5ff;
  --blog-bg-default: #fbfbfb;
  --blog-bg-header: rgba(241, 242, 254, 0.35);
  --blog-color-lightest: rgba(0, 0, 0, 0.1);
  --blog-color-lighter: rgba(0, 0, 0, 0.2);
  --blog-color-light: rgba(0, 0, 0, 0.4);
  --blog-color-default: rgba(0, 0, 0, 0.6);
  --blog-color-dark: rgba(0, 0, 0, 0.8);
  --blog-color-darker: rgba(0, 0, 0, 0.9);
  --blog-color-darkest: rgb(0, 0, 0);
  --blog-hover-default: #dadada;
  --blog-hover-dark: rgba(0, 0, 0, 0.07);
  --blog-bg-hr: #d0d7de;
  --blog-border: 1px solid var(--blog-color-lightest);
}

html[theme='dark'] {
  --blog-header-bg: linear-gradient(
    0deg,
    hsla(200deg, 100%, 85%, 0.1),
    hsla(200deg, 100%, 85%, 0)
  );
  --blog-bg-default: #1b1b1b;
  --blog-body-color: #efefef;
  --blog-body-bg: #292929;
  --blog-post-bg: #1f1f1f;
  --blog-scrollbar: #4392a6;
  --blog-bg-header: rgba(8, 8, 8, 0.35);
  --blog-skeleton: #453a44;
  --blog-tag-bg: rgb(37, 49, 61);
  --blog-color-lightest: rgba(255, 255, 255, 0.1);
  --blog-color-lighter: rgba(255, 255, 255, 0.2);
  --blog-color-light: rgba(255, 255, 255, 0.4);
  --blog-color-default: rgba(255, 255, 255, 0.6);
  --blog-color-dark: rgba(255, 255, 255, 0.8);
  --blog-color-darker: rgba(255, 255, 255, 0.9);
  --blog-color-darkest: rgb(255, 255, 255);
  --blog-hover-default: #232323;
  --blog-hover-dark: rgba(255, 255, 255, 0.18);
  --blog-bg-hr: #343434;
}

body {
  margin: 0;
  background-color: var(--blog-body-bg);
  color: var(--blog-body-color);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal {
  position: absolute;
  background-color: var(--blog-theme);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: var(--blog-scrollbar);
  -webkit-border-radius: 4px;
  outline-offset: -2px;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: var(--blog-theme);
  -webkit-border-radius: 4px;
}

.Hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.Hover:hover {
  background-color: var(--blog-hover-dark);
}

.md img {
  position: relative;
  cursor: pointer;
  transition: opacity 125ms ease-out;
}

.md img:hover {
  opacity: 0.85;
}

.gallery {
  display: grid;
  grid-gap: 10px;
}
