.main_children {
  margin-top: var(--header-h);
}

.center {
  width: var(--post-w);
  margin: auto;
}

@media screen and (max-width: 960px) {
  .center {
    width: 100%;
    padding: 0 16px;
  }
}

.link {
  color: var(--text);
  border-bottom: 1px solid var(--divider);
  transition: border-color 250ms;
  word-break: break-all;
  &:hover {
    border-color: var(--c-green-1);
  }

  & > code {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.codeblock_split {
  border-right: 1px solid var(--divider);
}

@media screen and (max-width: 640px) {
  .codeblock_split {
    border-right: none;
  }
}
