.main_layout {
  display: flex;
  justify-content: center;
  width: var(--main-w);
  margin: 0 auto;
  margin-top: var(--main-offset-top);
  transition: margin-top 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
}

.main_layout:nth-child(1) {
  flex-shrink: 0;
}

.main_children {
  width: var(--post-w);
  flex-shrink: 0;
}

.main_content {
  position: relative;
  background-color: var(--bg-card);
  border-radius: 12px;
  padding: 16px 36px;
}

@media screen and (max-width: 960px) {
  .main_layout {
    flex-direction: column-reverse;
    padding: 0 8px;
    width: 100%;
  }

  .main_content {
    padding: 16px;
  }
}

.link {
  text-decoration: underline;
  text-decoration-color: var(--c-indigo-1);
  text-underline-offset: 2px;
  color: var(--c-indigo-1);
  word-break: break-all;
  transition: text-underline-offset 0.2s, text-decoration-color 0.2s, color 0.2s;

  &:hover {
    text-underline-offset: 4px;
    text-decoration-color: var(--c-indigo-1-darker);
    color: var(--c-indigo-1-darker);
  }

  &:not(:has(>code))::after {
    content: "";
    display: inline-block;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-left: 1px;
    margin-top: -1px;
  }

  &:has(>code) {
    text-decoration: none;
    border-bottom: 0.1em solid var(--c-indigo-1);
    transition: border-color 0.2s;

    &:hover {
      border-color: var(--c-green-1);
    }
  }

  &>code {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &[data-footnote-ref="true"] {
    border-color: transparent;

    &:hover {
      border-color: var(--c-green-1);
    }
  }
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.verticalLine {
  height: 0.8rem;
  width: 2px;
  border-radius: 2px;
  background-color: var(--bg-vertical-line);
}

.slashLine {
  height: 0.8rem;
  width: 2px;
  border-radius: 2px;
  background-color: var(--c-gray-3);
  transform: rotate(20deg);
  margin: 0 2px;
}

.load_ani {
  opacity: 0;
  animation: 0.3s fade-in-up forwards;
}

@keyframes fade-in-up {
  0% {
    transform: translateY(2rem);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 1
  }
}

.-ml-4 {
  margin-left: -4px;
}

.ml-4 {
  margin-left: 4px;
}