.main_layout {
  display: flex;
  justify-content: center;
  width: var(--main-w);
  margin: 0 auto;
  margin-top: var(--main-offset-top);
  transition: margin-top 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
}

.main_layout:nth-child(1) {
  flex-shrink: 0;
}

.main_children {
  width: var(--post-w);
  flex-shrink: 0;
}

.main_content {
  position: relative;
  background-color: var(--bg-card);
  border-radius: 12px;
  padding: 16px 36px;
}

@media screen and (max-width: 960px) {
  .main_layout {
    flex-direction: column-reverse;
    padding: 0 4px;
    width: 100%;
  }

  .main_content {
    padding: 16px;
  }
}

.link {
  color: var(--c-indigo-1);
  border-bottom: 1px dashed var(--c-gray-2);
  transition: border-color 250ms;
  padding-bottom: 2px;
  word-break: break-all;

  &:hover {
    border-color: var(--c-green-1);
  }

  &:has(>code) {
    border-bottom-style: solid;
  }

  &>code {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &[data-footnote-ref="true"] {
    border-color: transparent;

    &:hover {
      border-color: var(--c-green-1);
    }
  }
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.codeblock_split {
  border-right: 1px solid var(--divider);
}

@media screen and (max-width: 640px) {
  .codeblock_split {
    border-right: none;
    border-bottom: 1px solid var(--divider);
  }
}

.verticalLine {
  height: 0.8rem;
  width: 2px;
  border-radius: 2px;
  background-color: var(--bg-vertical-line);
}

.slashLine {
  height: 0.8rem;
  width: 2px;
  border-radius: 2px;
  background-color: var(--c-gray-3);
  transform: rotate(20deg);
  margin: 0 2px;
}

.keyboard_tag {
  font-size: var(--text-xs);
  color: var(--text-3);
  font-weight: 600;
  padding: 4px;
  background-color: var(--c-gray-soft);
  border-radius: 4px;
}

.load_ani {
  opacity: 0;
  animation: 0.3s fade-in-up forwards;
}

@keyframes fade-in-up {
  0% {
    transform: translateY(2rem);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 1
  }
}

.-ml-4 {
  margin-left: -4px;
}

.ml-4 {
  margin-left: 4px;
}

.plumbiu_abbr {
  position: relative;
  z-index: 99;
  border-bottom: 1px dashed var(--c-gray-2);
  cursor: help;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -8px;
  }

  &::after {
    content: attr(data-title);
    position: absolute;
    font-size: var(--text-sm);
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 100%) scale(0.85);
    transition: 0.1s;
    font-style: normal;
    cursor: auto;
    line-height: 1;
    opacity: 0;
    border: 1px solid var(--divider);
    background-color: var(--bg-body);
    width: max-content;
    padding: 6px 10px;
    border-radius: 6px;
    z-index: 99;
    box-shadow: var(--shadow-box-light);
  }
}

.plumbiu_abbr:hover::after {
  opacity: 1;
  transform: translate(-50%, 100%) scale(1);
}