:target {
  color: #1976d2;
}

.toc-list {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  font-size: 14px;
}

.toc-list:hover {
  background-color: #f8f8f8!important;
}

.toc-block {
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100%;
  width: 12px;
  height: 20px;
  border-radius: 0 50% 50% 0;
  background-color: #1976d2;
}
