:root {
  /* text */
  --text: #000;
  --text-4: rgba(35, 35, 35, 0.4);
  --text-3: rgba(35, 35, 35, 0.56);
  --text-2: rgba(35, 35, 35, 0.72);
  --text-1: rgb(35, 35, 35);
  --text-1-dim: rgba(35, 35, 35, 0.8);
  --text-1-light: rgba(22, 22, 22);
  /* border */
  --divider: #d8e1e6;
  /* color */
  --c-yellow-soft: rgba(231, 231, 15, 0.14);
  --c-yellow-3: #e0e015;
  --c-yellow-2: #d6d61c;
  --c-yellow-1: #bdbd26;
  --c-red-soft: rgba(244, 63, 94, 0.14);
  --c-red-3: #e0575b;
  --c-red-2: #d5393e;
  --c-red-1: #b8272c;
  --c-purple-soft: rgba(100, 100, 255, 0.3);
  --c-purple-3: #8e5cd9;
  --c-purple-2: #7e4cc9;
  --c-purple-1: #6f42c1;
  --c-indigo-soft: rgba(0, 149, 255, 0.16);
  --c-indigo-3: #0095ff;
  --c-indigo-2: #33adff;
  --c-indigo-1: #07f;
  --c-green-soft: rgba(5, 185, 129, 0.14);
  --c-green-3: #30a46c;
  --c-green-2: #299764;
  --c-green-1: #18794e;
  --c-gray-soft: rgba(177, 177, 192, 0.14);
  --c-gray-3: #ccc;
  --c-gray-2: #bababa;
  --c-gray-1: #a9a9a9;
  --c-md-alert-note: #53A3F2;
  --c-md-alert-tip: #00BAA2;
  --c-md-alert-important: #B984DF;
  --c-md-alert-warning: #DD8736;
  --c-md-alert-caution: #DE3B3D;
  /* background */
  --bg-md-quote-before: #d5d5d5;
  --bg-md-quote-warn: #fcf4dc;
  --bg-md-quote-info: #e9eaff;
  --bg-md-quote-danger: rgba(244, 63, 94, 0.14);
  --bg-md-pre: #f5f9f9;
  --bg-md-pre-bar: #e8ecf1;
  --bg-md-code: #ddeef8;
  --bg-md-table-header: #efefef;
  --bg-md-table-th: #f6f6f6;
  --bg-header: #ffffff85;
  --bg-body: #e3e8ef;
  --bg-scrollbar: rgba(0, 0, 0, .33);
  --bg-scrollbar-hover: rgba(0, 0, 0, .44);
  --bg-scrollbar-active: rgba(0, 0, 0, .55);
  --bg-tag: #e9eef4ba;
  --bg-vertical-line: #bfbfbf;
  --bg-modal: #00000073;
  --bg-card: #fff;
  --bg-comment: #eef8f8;
  --bg-selector: var(--bg-card);
  /* console */
  --console-num: rgb(47, 121, 138);
  --console-string: rgb(181, 105, 89);
  --console-none: rgb(171, 89, 89);
  --console-bool: rgb(30, 117, 79);
  --console-symbol: rgb(89, 135, 58);
}

:root[data-theme='light'] {
  --shadow-box-light: 0 0.1em 0.2em var(--c-gray-soft);
  --shadow-selector: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* constant */
:root {
  --header-h: 82px;
  --main-offset-top: -64px;
  --main-w: min(80vw, 1200px);
  --side-w: 280px;
  --post-w: calc(var(--main-w) - var(--side-w) - 16px);
  --rest-w: calc((100vw - var(--main-w)) / 2);
  --pre-radius: 8px;
  --pre-padding: 12px;
  --extend-x: -76px;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.125rem;
}

@media screen and (max-width: 1320px) {
  :root {
    --side-w: 220px;
    --main-w: min(80vw, 1240px);
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --side-w: 200px;
    --main-w: min(90vw, 1060px);
  }
}

@media screen and (max-width: 960px) {
  :root {
    --side-w: 100%;
    --extend-x: 0;
    --post-w: 100%;
    --main-w: 100%;
  }
}