.md {
  color: var(--text-1);
  margin: 0;
  margin-top: 16px;
  word-break: break-word;
  border-top: 1px dashed var(--divider);

  li {
    &::marker {
      color: var(--c-indigo-1);
    }
  }

  &>p {
    line-height: 28px;
  }

  &>* {
    overflow-x: hidden;
  }

  h2 {
    margin-top: 2em;
  }

  /* table */
  table {
    display: block;
    overflow-x: auto;
    border-spacing: 0;
    table-layout: fixed;
    white-space: nowrap;
    margin: 20px 0;

    thead {
      border-bottom: 1px solid var(--divider);
    }

    tbody {
      font-size: 14px;
    }

    th {
      text-align: left;
      font-weight: 600;
    }

    th,
    td {
      padding: 10px 14px;
      border-bottom: 1px solid var(--divider);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    tr:last-child>td {
      border-bottom: none;
    }
  }

  /* Code */
  code {
    font-size: var(--text-sm);
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--c-indigo-1);
    background-color: var(--c-indigo-soft);
  }

  pre {
    margin: 0;
    color: var(--text-1);
    overflow: auto;
    tab-size: 2;
    line-height: 1.6;
    max-height: 60vh;
    border-radius: var(--pre-radius);
    background-color: var(--bg-md-pre);
    padding: var(--pre-padding) 0 var(--pre-padding) var(--pre-padding);

    code {
      font-weight: 400;
      display: block;
      width: fit-content;
      padding: 0;
      min-width: 100%;
      box-sizing: content-box;
      color: inherit;
      background-color: transparent;
    }
  }

  /* blockquote */
  blockquote {
    position: relative;
    padding: 4px 20px;
    margin-left: 0;
    margin-right: 0;

    &::before {
      content: '';
      color: var(--c-md-alert-note);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      border-radius: 6px;
      background-color: var(--c-md-alert-note);
    }

    & p {
      color: var(--text-1-light);
      line-height: 1.6;
      margin: 0;
    }
  }

  .blockquote-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: var(--text-base);
    margin-bottom: 4px;

    &[data-alert-type="note"] {
      color: var(--c-md-alert-note);
    }

    &[data-alert-type="tip"] {
      color: var(--c-md-alert-tip);
    }

    &[data-alert-type="warning"] {
      color: var(--c-md-alert-warning);
    }

    &[data-alert-type="caution"] {
      color: var(--c-md-alert-caution);
    }

    &[data-alert-type="important"] {
      color: var(--c-md-alert-important);
    }
  }

  .blockquote-tip {
    color: var(--c-md-alert-tip);

    &::before {
      background-color: var(--c-md-alert-tip);
    }

    & code {
      color: var(--c-md-alert-tip);
    }
  }

  .blockquote-warning {
    color: var(--c-md-alert-warning);

    &::before {
      background-color: var(--c-md-alert-warning);
    }

    & code {
      color: var(--c-md-alert-warning);
    }
  }

  .blockquote-caution {
    color: var(--c-md-alert-caution);

    &::before {
      background-color: var(--c-md-alert-caution);
    }

    & code {
      color: var(--c-md-alert-caution);
    }
  }

  .blockquote-important {
    color: var(--c-md-alert-important);

    &::before {
      background-color: var(--c-md-alert-important);
    }

    & code {
      color: var(--c-md-alert-important);
    }
  }

  /* Image */
  img {
    position: relative;
    max-width: 100%;
    height: auto;
    cursor: zoom-in;
    object-fit: contain;
    border-radius: 12px;
    transition: border-radius 250ms;

    &:hover {
      border-radius: 0;
    }
  }

  /* Details */
  details {
    font-size: var(--text-sm);
    border-radius: 8px;
    background-color: var(--c-gray-soft);

    & summary {
      padding: 12px 16px;
      font-weight: 600;
      cursor: pointer;
    }

    & p {
      padding: 12px 16px;
      margin: 0;
    }
  }

  .line {
    display: inline-block;
    min-height: 18px;
    width: 100%;
  }

  .line[data-line]::before {
    content: attr(data-line);
    display: inline-block;
    color: var(--text-2);
    min-width: 26px;
  }

  .highlight-line,
  .deleted,
  .inserted {
    box-sizing: content-box;
    padding-left: 16px;
    margin-left: -16px;
  }

  .highlight-line,
  .highlight-word {
    background-color: var(--c-indigo-soft);
  }

  .highlight-word {
    box-sizing: content-box;
    padding: 0 1px;
    border-radius: 4px;
    border: 1px solid var(--c-green-soft);

    &+.highlight-word {
      border-radius: 0;
      padding: 0;
      border-left: none;
      border-right: none;
    }

    &.highlight-word-start {
      border-right: none;
      border-radius: 4px 0 0 4px;
    }

    &.highlight-word-end {
      border-right: 1px solid var(--c-green-soft);
      border-radius: 0 4px 4px 0;
    }
  }

  .deleted {
    background-color: var(--c-red-soft);

    &::before {
      content: "- ";
      color: var(--c-red-1);
    }
  }

  .inserted {
    background-color: var(--c-green-soft);

    &::before {
      content: "+ ";
      color: var(--c-green-1);
    }
  }

  .language-bash>.line:first-child {
    &::before {
      content: "$ ";
    }
  }

  .task-list-item {
    list-style: none;
  }

  .contains-task-list {
    padding-left: 16px;
  }
}