html[data-theme="dark"] {
  .s0 {
    color: #6a737d;
  }
  .s1 {
    color: #79b8ff;
  }
  .s2 {
    color: #b392f0;
  }
  .s3 {
    color: #e1e4e8;
  }
  .s4 {
    color: #85e89d;
  }
  .s5 {
    color: #f97583;
  }
  .s6 {
    color: #9ecbff;
  }
  .s7 {
    color: #ffab70;
  }
  .s8 {
    color: #fdaeb7;
  }
  .s9 {
    color: #24292e;
  }
  .s10 {
    color: #dbedff;
  }
  .s11 {
    color: #2f363d;
  }
  .s12 {
    color: #d1d5da;
  }
}

.s0 {
  color: #6a737d;
}
.s1 {
  color: #005cc5;
}
.s2 {
  color: #6f42c1;
}
.s3 {
  color: #24292e;
}
.s4 {
  color: #22863a;
}
.s5 {
  color: #d73a49;
}
.s6 {
  color: #032f62;
}
.s7 {
  color: #e36209;
}
.s8 {
  color: #b31d28;
}
.s9 {
  color: #fafbfc;
}
.s10 {
  color: #f6f8fa;
}
.s11 {
  color: #586069;
}