.gallery img {
  user-select: none;
  height: auto;
  border-radius: 0 !important;
}

.imgs {
  display: flex;
  --gap: 8px;
  gap: var(--gap);

  &>div {
    flex-shrink: 0;
    flex-grow: 0;
    row-gap: var(--gap);
    display: flex;
    flex-direction: column;
  }

  & img {
    border-radius: 4px !important;
    box-shadow: var(--shadow-1);
    transition: box-shadow 0.15s !important;

    &:hover {
      box-shadow: var(--shadow-3);
    }
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.mask {
  --text-color: #aaa;
  --thumb-bottom: 24px;
  --thumb-item-height: 60px;
  --thumb-item-width: 60px;
  --thumb-item-translate: 16px;
  --thumb-item-max-height: calc(var(--thumb-item-height) + var(--thumb-item-translate) + var(--thumb-bottom));
  opacity: 0;
  animation: fade 0.15s forwards;
  position: fixed;
  backdrop-filter: blur(8px);
  flex-direction: column;
  inset: 0;
  z-index: 999;
  background-color: var(--bg-modal);

  & svg {
    transition: color 0.15s;

    &:hover {
      color: #fff;
    }
  }
}

.slide {
  &>img {
    max-width: 100%;
    transform: translateY(calc(-1 * var(--thumb-item-max-height) / 2));
    max-height: calc(100vh - var(--thumb-item-max-height));
  }
}

.close {
  position: absolute;
  z-index: 99;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: var(--text-color);
  font-size: 42px;
}

.w_full {
  width: 100%;
}

.thumbnils_bg {
  position: fixed;
  left: 32px;
  right: 32px;
  border-radius: 12px;
  z-index: 18;
  bottom: var(--thumb-bottom);
  height: calc(var(--thumb-item-height) + 8px);
  background-color: var(--bg-card);
  box-shadow: var(--shadow-box-light);
}

.thumbnails {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 19;
  bottom: var(--thumb-bottom);
  display: flex;
  user-select: none;
  transition: transform 0.25s;

  & img {
    position: relative;
    z-index: -1;
    filter: brightness(0.6);
    transition: 0.25s;
    height: var(--thumb-item-height);
    width: var(--thumb-item-width);
    object-fit: cover;
  }
}

.active>img {
  z-index: 20 !important;
  filter: brightness(1) !important;
  transform: scale(1.2);
}

.arrow {
  font-size: 48px;
  position: fixed;
  top: 50%;
  color: var(--text-color);
  transform: translateY(-50%);
  cursor: pointer;
}

.left_arrow {
  left: 24px;
}

.right_arrow {
  right: 24px;
}

.seemore {
  color: var(--text-3);
  font-size: 14px;
  text-align: right;
}