.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 4px;
  color: var(--text-3);
  font-size: var(--text-sm);
  padding: 12px !important;
  outline: 1px solid transparent;
  transition: outline-color .3s;

  &:hover {
    background-color: var(--c-indigo-soft);
    outline: 2px solid var(--c-indigo-1);
  }

  & svg {
    font-size: var(--text-xl);
  }
}

.key {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  line-height: 1;
  color: var(--text-2);
  font-size: var(--text-sm);
  background-color: var(--c-gray-soft);
  padding: 4px 6px;
  border-radius: 4px;

  & svg {
    font-size: 15px;
  }
}