.tab {
  box-sizing: content-box;
  display: flex;
  font-size: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  color: var(--text-3);
  white-space: nowrap;

  & > div {
    background-color: var(--bg-md-pre);
    padding: 10px 12px;
    cursor: pointer;
    border-bottom: 1px solid var(--divider);
    transition: color 150ms;
    &:last-child {
      width: 100%;
      cursor: auto;
      pointer-events: none;
    }
    &:hover {
      color: var(--text);
    }
  }
}

.tab_active {
  color: var(--text) !important;
  border-color: var(--c-yellow-1) !important;
}
