.divider {
  position: relative;
  cursor: ew-resize;
  background-color: var(--bg-body);
  width: 1px;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: 0;
    top: 0;
  }

  &:hover {
    background-color: var(--c-yellow-1);
  }
}


.active {
  cursor: ew-resize;
  background-color: var(--c-yellow-1);
}

@media screen and (max-width: 960px) {
  .divider {
    cursor: ns-resize;
    width: auto;
    height: 1px;
  }
  &::before {
    left: 0;
    right: 0;
    bottom: -6px;
    top: -6px;
  }
  .active {
    cursor: ns-resize;
  }
}