.divider {
  cursor: ew-resize;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: translateX(-6px);
  background-color: var(--bg-body);
  width: 13px;
  background-clip: content-box;
  user-select: none;

  &:hover {
    background-color: var(--c-yellow-1);
  }
}


.active {
  cursor: ew-resize;
  background-color: var(--c-yellow-1);
}