.gallery img {
  border-radius: 0 !important;
}

.mask {
  --text-color: #aaa;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  inset: 0;
  z-index: 999;
  background-color: #000;

  & svg {
    transition: color 0.2s;
    &:hover {
      color: #fff;
    }
  }
}

.slide {
  & > img {
    max-width: 100%;
    max-height: calc(100vh - 240px);
  }
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: var(--text-color);
  font-size: 2rem;
}

.w_full {
  width: 100%;
}

.thumbnails {
  position: fixed;
  margin: auto;
  bottom: 24px;
  display: flex;
  transition: transform 0.25s;
  gap: 12px;
  & img {
    filter: brightness(0.4);
    transition: 0.25s;
    height: 60px;
  }
}

.active {
  filter: brightness(1) !important;
  transform: translateY(-8px) scale(1.25);
}

.arrow {
  font-size: 36px;
  position: fixed;
  top: 50%;
  color: var(--text-color);
  transform: translateY(-50%);
  cursor: pointer;
}

.left_arrow {
  left: 24px;
}

.right_arrow {
  right: 24px;
}
