.wrap {
  row-gap: 16px;
  color: var(--text-3);
  margin-top: 32px !important;
  margin-bottom: 32px !important;

  &>a {
    color: inherit;
    margin-right: 6px;
  }
}

.right {
  display: flex;
  gap: 16px;

  &>a {
    color: var(--text-2);

    &:hover {
      color: var(--text);
    }
  }

  & svg {
    font-size: 26px;
  }
}