.scroll {
  position: fixed;
  z-index: 9999;
  top: 6px;
  bottom: 6px;
  right: 0;

  &:hover .handler {
    background-color: var(--bg-scrollbar-hover);
    border-radius: 6px;
    width: 8px;
  }
}

.handler {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 4px;
  height: 0;
  user-select: none;
  min-height: 36px;
  max-height: 80vh;
  width: 6px;
  text-align: right;
  border-radius: 4px;
  background-color: var(--bg-scrollbar);
  transition-property: background-color, width, height;
  transition-duration: 0.15s;
}

.handler_active {
  width: 8px;
  background-color: var(--bg-scrollbar-active) !important;
}