.wrap {
  --w: 560px;
  --distance: 12px;
  --radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: var(--radius);
  width: var(--w);
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .wrap {
    --w: calc(100% - 32px);
  }
}

.header {
  position: sticky;
  top: 0;
  margin-bottom: 8px;
}

.form {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 56px;
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--bg-card);

  & svg {
    font-size: var(--text-2xl);
  }
}

.ipt {
  appearance: none;
  color: var(--text-1);
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.list_wrapper {
  position: relative;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 12px 0;
  border-radius: var(--radius);
  background-color: var(--bg-card);
}

.list {
  display: block;
  cursor: pointer;
  padding: 10px 12px;
  margin: 0 var(--distance);
  transition: background-color 0.15s;
  border-radius: var(--radius);

  & svg {
    font-size: var(--text-2xl);
    padding: 12px;
    border-radius: 50%;
    box-sizing: content-box;
  }
}

.desc {
  font-size: var(--text-sm);
  margin: 4px 0;
  color: var(--text-3);
}

.empty {
  color: var(--text-2);
  text-align: center;
  padding: 24px 0 12px 0;
}

.title {
  transition: color 0.15s;
  color: var(--text);
  font-weight: 600;
}

.type {
  top: 80px;
  color: var(--text-3);
}

.list_active {
  background-color: var(--c-indigo-soft);

  & .title {
    color: var(--c-indigo-1);
  }
}

.btn {
  padding: 8px;
  border: none;

  & {
    color: var(--c-indigo-1);
  }
}

.highlight_word {
  color: var(--c-indigo-1);
  word-break: break-all;
}

.empty_content {
  padding: 0 var(--distance);
  white-space: break-all;
  font-size: var(--text-sm);

  &>svg {
    margin: 8px auto;
    font-size: 48px;
    color: var(--c-gray-1);
  }
}