.link {
  display: flex;
  gap: 4px;
  flex-direction: column;
  border: 1px solid var(--divider);
  padding: 12px 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    border-color: var(--c-indigo-soft);
    background-color: var(--c-gray-soft);
  }
}

.title {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
  color: var(--text);
}

.desc {
  margin: 8px 0;
  line-height: 1.4rem;
  font-size: 0.9rem;
  color: var(--text-2);
  word-break: break-all;
}

.date {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-2);
  font-size: 0.9rem;

  & > svg {
    font-size: var(--text-lg);
    color: var(--c-indigo-1);
  }
}

.year {
  font-weight: 700;
  margin: 8px 0;
  font-size: 20px;
  text-indent: 4px;
}

.locale {
  font-size: 14px;
  padding: 2px 6px;
  font-weight: 400;
  border-radius: 4px;
  background-color: #a1a1aa26;
  color: var(--text-2);
}