.Header {
  position: relative;
  background: var(--blog-header-bg);
  height: 200px;
}

.Header-Top {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Header-Top-Absolute {
  position: fixed;
  top: 0;
  z-index: 99;
  height: max-content;
  width: 100%;
  backdrop-filter: blur(12px);
  background-color: var(--blog-bg-header);
  animation: slidein 500ms ease;
}

@keyframes slidein {
  from {
    transform: translateY(-999px);
  }
  to {
    transform: translateY(0);
  }
}

.Header-Menu-Wrap {
  display: flex;
  align-items: center;
}

.Header-Menu-Wrap > a {
  font-size: 18px;
}

.Header-Right-Wrap {
  display: flex;
}

.Header-Search {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.Header-Search > div,
.Header-Search > a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  color: var(--blog-color-dark);
  width: 28px;
  height: 28px;
  padding: 4px;
  margin-left: 16px;
  font-size: 22px;
}
