.Header {
  position: relative;
  background: var(--blog-header-bg);
  padding-left: 12px;
  height: 320px;
}

.Header-Top {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.Header-Menu-Wrap {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.Header-Menu-Wrap > a {
  font-size: 18px;
}

.Header-Right-Wrap {
  display: flex;
}

.Header-Search {
  display: flex;
  margin-right: 12px;
}

.Header-Search > div,
.Header-Search > a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  color: var(--blog-color-dark);
  width: 28px;
  height: 28px;
  padding: 4px;
  margin-left: 8px;
  font-size: 20px;
}
