.wrap {
  margin: 24px var(--extend-x);
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: stretch;
  overflow: hidden;
  border-radius: 0 0 var(--pre-radius) var(--pre-radius);
  border: 1px solid var(--divider);
  border-top: none;
  background-color: var(--bg-md-pre);
}

.code {
  border-right: 1px solid var(--divider);
  & pre {
    max-height: 70vh;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  }
  .code {
    border-right: none;
    border-bottom: 1px solid var(--divider);
  }
}

.bar {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--pre-radius) var(--pre-radius) 0 0;
  border: 1px solid var(--divider);
}

.hide {
  position: absolute;
  left: 99999px;
}

.console {
  font-size: 13px;
  max-height: 70vh;
  overflow: auto;
  & > div {
    padding: 8px 12px;
    border-bottom: 1px solid var(--divider);
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }
}

.console_date {
  color: var(--text-3);
}

.tab {
  display: flex;
  font-size: 14px;
  border-bottom: 1px solid var(--divider);
  overflow-x: auto;
  overflow-y: hidden;
  color: var(--text-3);
  white-space: nowrap;

  & > div {
    padding: 10px 12px;
    cursor: pointer;
    transition: color 150ms;
    &:hover {
      color: var(--text);
    }
  }
}

.tab_active {
  color: var(--text) !important;
}

.preview {
  padding: 12px;
  max-height: 70vh;
  overflow: auto;
  & * {
    all: revert;
  }
}
