.Btn-List-Icon {
  display: flex;
  align-items: center;
}

.Btn-List-Icon-Link {
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 3px;
}

.Btn-List-Text {
  font-size: 13px;
  letter-spacing: 0.5px;
}

.Btn-List-Icon svg {
  padding: 4px;
  border-radius: 50%;
}
