.Header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  top: 0;
  width: 100%;
  background-color: var(--blog-bg-header);
  z-index: 199;
  height: 58px;
}

.Header-Menu-Wrap {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.Header-Menu-Wrap > a {
  font-size: 18px;
}

.Header-Right-Wrap {
  display: flex;
}

.Header-Right-Icon > a {
  width: 28px;
  height: 28px;
  padding: 4px;
  margin-right: -6px;
  font-size: 20px;
}

.Header-Search-Wrap {
  transform: scale(0.9);
  margin-right: 12px;
}
