.Header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  top: 0;
  width: 100%;
  box-shadow: var(--blog-shadow);
  background-color: var(--blog-bg-header);
  z-index: 199;
  height: 58px;
}

.Header-Menu-Wrap {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.Header-Logo {
  font-size: 18px;
}

.Header-Search-Wrap {
  transform: scale(0.9);
  margin-right: 8px;
}

.Header-Right-Wrap {
  display: flex;
  align-items: center;
}
