.Header {
  display: flex;
  align-items: center;
  background-color: var(--blog-bg-default);
  justify-content: space-between;
  padding-left: 12px;
  height: 58px;
}

.Header-Menu-Wrap {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.Header-Menu-Wrap > a {
  font-size: 18px;
}

.Header-Right-Wrap {
  display: flex;
}

.Header-Search {
  display: flex;
  transform: scale(0.9);
  margin-right: 12px;
}

.Header-Search > div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  color: var(--blog-color-dark);
  width: 28px;
  height: 28px;
  padding: 4px;
  margin-left: 16px;
  font-size: 22px;
}
