.Side-Left-W {
  min-width: 240px;
  max-width: 380px;
  width: 16%;
}

.Side-Left {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}
.Side-Left-Item {
  overflow: hidden;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
}

.Side-Left-Title {
  text-align: center;
  line-height: 54px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  border-radius: 0 0 50% 50%;
  background-color: #9c27b0;
  margin-bottom: 10px;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.Side-Left-Title:hover {
  border-radius: 0 0 30% 30%;
}

.Side-Left-Fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 960px) {
  .Side-Left-W {
    display: none;
  }
}
