.wrap {
  font-size: 14px;
  color: var(--text-3);
  margin-top: 86px !important;

  & > a {
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    margin-right: 8px;
    border-color: var(--divider);
    transition: border-color 250ms ease-in-out;
    &:hover {
      border-color: var(--text-1);
    }
  }
}
