.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: var(--p-gray-3);

  & a {
    color: var(--p-text-2);
    transition: color 125ms ease-in-out;
    &:hover {
      color: var(--p-text-1);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--p-header-h);
  gap: 24px;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.header svg {
  display: block;
  font-size: 24px;
}

.item {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
}

.item:hover {
  color: var(--p-hover-text);
}

.left {
  font-weight: 700;
}

.right {
  display: flex;
  gap: 24px;
  align-items: center;
}
