.wrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0 32px;
  background-color: var(--bg-body);
  height: var(--header-h);
  transition: height 200ms;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .wrap {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    padding: 0 24px;
  }

  .mobile {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 0 !important;
  height: 100%;

  & a,
  svg {
    font-size: 16px;
    color: var(--text-2);
    transition: color 125ms ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--text-1);
    }
  }
}

.shadow {
  box-shadow: var(--shadow-header);
  height: calc((var(--header-h) - 32px));
}

.hide {
  height: 0;
  box-shadow: none;
}

.header svg {
  display: block;
  font-size: 26px;
}

.item:hover {
  color: var(--text);
}

.left {
  font-weight: 700;
  font-style: italic;
}

.right {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .right {
    gap: 16px;
  }
}
