.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--bg-body);
  & a,
  div {
    color: var(--text-2);
    transition: color 125ms ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--text-1);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-h);
  gap: 24px;
  margin-bottom: 0 !important;
}

.shadow {
  box-shadow: var(--shadow-header);
}

.header svg {
  display: block;
  font-size: 24px;
}

.item {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
}

.item:hover {
  color: var(--text);
}

.left {
  font-weight: 700;
}

.right {
  display: flex;
  gap: 24px;
  align-items: center;
}
