.mask {
  position: fixed;
  inset: 0;
  background-color: var(--bg-modal);
  z-index: 99;
  inset: 0;
  overflow: auto;
  text-align: center;
  transition: opacity 0.15s;
  overflow: hidden;
}

@keyframes scaleup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: center;
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

.modal img {
  user-select: none;
  animation: scaleup 0.3s cubic-bezier(0, 0, 0.25, 1) forwards;
  width: auto;
  cursor: grab;
  max-width: 95%;
  height: auto;
  max-height: calc(90vh - 104px);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

  &:active {
    cursor: grabbing;
  }
}

.action {
  color: #bbb;
  position: fixed;
  bottom: 32px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  border-radius: 100px;
  font-size: 20px;
  padding: 10px 32px;
  gap: 24px;
  background-color: var(--bg-modal);

  & > svg {
    cursor: pointer;
    transition: color 150ms;
    &:hover {
      color: #fff;
    }
  }
}
