.Banner-Card-List {
  overflow: hidden;
  border-radius: 8px;
  margin-top: 24px;
}

.Banner-Card-List > img {
  border-radius: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  object-fit: cover;
  border-radius: 12px;
}

.Banner-Card-List:hover > img {
  transform: scale(1.05);
}

.Banner-Card-Info {
  padding: 8px;
  display: flex;
  width: 75%;
  word-break: break-all;
  gap: 4px;
}

.Banner-Card-Info > img {
  border-radius: 50%;
  margin-right: 12px;
}

.Banner-Card-Title {
  color: var(--blog-color-dark);
  font-weight: bolder;
}

.Banner-Card-Desc {
  flex: 1;
  color: var(--blog-color-default);
  font-size: 14px;
  margin-top: 2px;
  word-break: break-word;
  text-overflow: ellipsis;
}
