.Header-Toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 4px;
  margin-right: -6px;
  font-size: 20px;
}
