*,
::before,
::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  color: var(--text-1);
  overflow-x: hidden;
  background-color: var(--bg-body);
  text-rendering: optimizeLegibility;
  transition: background-color 100ms;
  scrollbar-width: thin;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  font-weight: 700;
  code {
    font-size: inherit !important;
  }
  a {
    font-size: inherit !important;
  }
}
h1 {
  font-size: 1.65rem;
}
h2 {
  font-size: 1.45rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.1rem;
}
h5,
h6 {
  font-size: 1rem;
}

.main_children {
  margin-top: calc(var(--header-h) + 32px);
}

.center {
  width: var(--center-w);
  max-width: var(--center-max-w);
  margin: auto;
  margin-bottom: 36px;
  padding: 0 32px;
}

@media screen and (max-width: 1024px) {
  .center {
    width: 100%;
    padding: 0 20px;
    max-width: 100%;
  }
}

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
} */
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: calc(100vh - var(--header-h) - 64px);

  & > h1 {
    font-size: 32px;
  }
  & > div {
    font-size: 20px;
  }
}

.link {
  color: var(--text);
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--divider);
  font-weight: 500;
  padding-bottom: 1px;
  transition: border-color 250ms ease-in-out;
  word-break: break-all;
  &:hover {
    border-color: var(--text);
  }

  & > code {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 4px !important;
}

*::-webkit-scrollbar-track {
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-scrollbar) !important;
  border-radius: 4px !important;
}
