body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'segoe UI', 'Helvetica Neue',
    Lato, Roboto, 'PingFang SC', 'Microsoft JhengHei', 'Microsoft YaHei',
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}