.wrap {
  & > div {
    margin-bottom: 32px;
  }

  & > h2 {
    margin-bottom: 12px;
  }
}

.skill {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 4px 0;

  & svg {
    font-size: 20px;
  }
}

.links {
  & > a {
    margin-top: 4px;
    display: inline-flex;
    align-items: flex-end;
    font-size: 14px;
    vertical-align: bottom;
    margin-left: 8px;
  }
  & svg {
    font-size: 20px;
    margin-right: 3px;
  }
}
