:root {
  /* text */
  --text: #000;
  --text-3: rgba(60, 60, 67, 0.56);
  --text-2: rgba(60, 60, 67, 0.78);
  --text-1: rgb(60, 60, 68);
  /* border */
  --divider: #e2e2e5;
  /* color */
  --c-yellow-soft: rgba(234, 179, 8, 0.14);
  --c-yellow-3: #9f6a00;
  --c-yellow-2: #946300;
  --c-yellow-1: #915930;
  --c-text-hover: rgb(33, 33, 35);
  --c-red-soft: rgba(244, 63, 94, 0.14);
  --c-red-3: #e0575b;
  --c-red-2: #d5393e;
  --c-red-1: #b8272c;
  --c-purple-soft: rgba(159, 122, 234, 0.14);
  --c-purple-3: #8e5cd9;
  --c-purple-2: #7e4cc9;
  --c-purple-1: #6f42c1;
  --c-indigo-soft: rgba(100, 108, 255, 0.14);
  --c-indigo-3: #5672cd;
  --c-indigo-2: #3a5ccc;
  --c-indigo-1: #3451b2;
  --c-green-soft: rgba(5, 185, 129, 0.14);
  --c-green-3: #30a46c;
  --c-green-2: #299764;
  --c-green-1: #18794e;
  --c-gray-soft: rgba(142, 150, 170, 0.14);
  --c-gray-3: #ebebef;
  --c-gray-2: #e4e4e9;
  --c-gray-1: #dddde3;
  /* background */
  --bg-md-quote-warn: #fcf4dc;
  --bg-md-quote-info: #e9eaff;
  --bg-md-quote-danger: rgba(244, 63, 94, 0.14);
  --bg-md-pre: #fafafa;
  --bg-md-highlight-line: rgba(218, 230, 240, 0.5);
  --bg-md-code: #ddeef8;
  --bg-hover: rgba(0, 0, 0, 0.06);
  --bg-header: #f8f8f8;
  --bg-body: #fff;
  /* shadow */
  --shadow-header: 5px 5px 16px #e2e2e2, -5px -5px 16px #fefefe;
}

/* constant */
:root {
  --header-h: 56px;
  --center-max-w: 840px;
  --center-w: 50%;
  --pre-radius: 6px;
}
