.Tag {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  opacity: 0.95;
  transition: opacity 150ms;
  min-width: 20px;
}

.Tag:hover {
  opacity: 1;
}

.Tag-Filled {
  color: var(--blog-body-color);
  font-size: 0.7125rem;
  border-radius: 12px;
  padding: 3px 8px;
  border: 1px solid var(--blog-tag-bg);
}
