.Tag {
  display: inline-flex;
  justify-content: center;
  transition: color 100ms;
  transition: color 150ms;
  min-width: 24px;
  margin-right: 4px;
}

.Tag:hover {
  color: var(--blog-color-dark)!important;
}

.Tag-Filled {
  color: #fff;
  font-size: 0.7125rem;
  border-radius: 12px;
  padding: 3.4px 6px;
  background-color: var(--blog-theme);
}
