.Tag {
  display: inline-flex;
  justify-content: center;
  transition: color 100ms;
  min-width: 24px;
  font-size: 0.9125rem;
  margin-right: 4px;
}

.Tag:hover {
  color: var(--blog-color-hr) !important;
}

.Tag-Outlined {
  color: var(--blog-theme);
}

.Tag-Filled {
  color: #fff;
  border-radius: 10px;
  padding: 3px 6px;
  background-color: var(--blog-theme);
}
