.Lab {
  padding: 4px 0;
  background-color: var(--blog-bg-default);
}

.Lab > div {
  margin: 12px 0;
}

.Lab-Title {
  position: relative;
  font-size: 20px;
  padding-left: 24px;
  margin-left: 12px;
}

.Lab-Title::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 3px;
  background-color: var(--blog-theme);
}

.Lab-List {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
