.wrap {
  position: sticky;
  top: var(--header-h);
  width: calc(var(--center-rest) - 64px);
  padding-right: calc(var(--center-rest) / 3);
  margin-left: 64px;
  & svg {
    font-size: 16px;
  }
}
@media screen and (max-width: 1500px) {
  .wrap {
    width: calc(var(--center-rest) - 16px);
    margin-left: 16px;
    padding-right: 32px;
  }
}

.card {
  margin-bottom: 64px;
}

.about_item {
  margin-bottom: 12px;
  margin-left: 4px;

  & > a {
    margin-right: 6px;
  }
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
}

@media screen and (max-width: 960px) {
  .wrap {
    display: none;
  }
}
