.wrap {
  position: sticky;
  margin-top: 36px;
  margin-left: 32px;
  margin-right: 16px;
  top: var(--header-h);
  z-index: 9;
  overflow-y: auto;
  transition: opacity 250ms;
  line-height: 1.5;
  width: calc(var(--center-rest) - 64px);
  height: calc(100vh - var(--header-h));
}

@media screen and (max-width: 960px) {
  .wrap {
    display: none;
  }
}

.year {
  font-weight: 600;
  padding-bottom: 8px;
}

.item + .item {
  padding-top: 12px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 12px;
  font-size: 12px;
  margin: 0;

  & > li {
    line-height: 1.25;
    list-style: none;
    & > a {
      border-width: 0;
      border-bottom-width: 1px;
      border-style: dashed;
      border-color: var(--divider);
      color: var(--text-2);
      transition: border-color 280ms, color 150ms;

      &:hover {
        color: var(--text);
        border-color: var(--text-2);
      }
    }
  }
}
