.wrapper {
  overflow: hidden;
  border-radius: var(--pre-radius);
  border: 1px solid var(--divider);
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  background-color: var(--bg-md-pre);
}

@media screen and (max-width: 640px) {
  .container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--bg-md-pre-bar);
  font-weight: 600;
  border-bottom: 1px solid var(--divider);
}

.rerun {
  cursor: pointer;
  transition: color 150ms;
  font-size: 16.5px;
  &:hover {
    color: var(--text);
  }
}
