.Navbar {
  overflow: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  padding-bottom: 2px;
  margin-bottom: 4px;
}

.Navbar-Link {
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 8px 10px;
  background-color: var(--blog-bg-default);
  border: var(--blog-border);
  border-radius: 4px;
}

.Navbar-Link svg {
  color: var(--blog-theme);
  font-size: 16px;
}

.Navbar-Link-Active {
  background-color: var(--blog-theme);
}

.Navbar-Link-Active svg {
  color: #fff;
}
.Navbar-Link-Active .Navbar-Text {
  color: #fff;
}

.Navbar-Text {
  font-size: 0.785rem;
  margin-right: 6px;
  color: var(--blog-color-dark);
}
