.Navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  min-width: 120px;
  margin-bottom: 16px;
}

@media screen and (max-width: 960px) {
  .Navbar {
    display: none;
  }
}

.Navbar-Link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 8.5px 10px;
  background-color: var(--blog-bg-default);
  border: var(--blog-border);
  transition: border-color 150ms;
  border-radius: 8px;
}

.Navbar-Link:hover {
  border-color: var(--blog-theme);
}

.Navbar-Link svg {
  color: var(--blog-theme);
  font-size: 16px;
}

.Navbar-Link-Active {
  background-color: var(--blog-theme);
}

.Navbar-Link-Active svg {
  color: #fff;
}

.Navbar-Text {
  font-size: 0.785rem;
  margin-right: 6px;
  color: white;
}