.Header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 199;
  height: 64px;
}

.Header-Menu-Wrap {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.Header-Logo {
  font-size: 20px;
}

.Header-Search-Wrap {
  margin-right: 24px;
}
