.Badge-Wrap {
  display: inline-flex;
  position: relative;
}

.Badge-Content {
  position: absolute;
  z-index: 15;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  color: #fff;
  border-radius: 10px;
  padding: 1px 6px;
  background-color: #9c27b0;
  top: -50%;
  right: -2%;
}
