.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--main-w);
  padding: 16px 24px;
  border-radius: 0 0 16px 16px;
  height: var(--header-h);
  background-color: var(--bg-card);
  margin: 0 auto;
  box-shadow: var(--shadow-box-light);
  overflow: hidden;
  transition: transform 150ms;
  font-size: var(--text-xl);

  & svg {
    font-size: 24px;
  }
}

.hover {
  color: var(--text-2);
  transition: color 125ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--text);
  }
}

@media screen and (max-width: 960px) {
  .header {
    padding: 0 20px;
  }

  .mobile {
    display: none;
  }
}

.fixed {
  background-color: var(--bg-header);
}

.item:hover {
  color: var(--text);
}

.right {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .right {
    gap: 18px;
  }
}

.active {
  color: var(--text);
}