.mask {
  position: fixed;
  inset: 0;
  background-color: var(--bg-modal);
  backdrop-filter: blur(1px);
  z-index: 99;
  text-align: center;
  transition: opacity 0.15s;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

.anim {
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1);
}

@keyframes scaleup {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal img {
  user-select: none;
  animation: scaleup 0.15s forwards;
  cursor: grab;
  max-width: 95vw;
  width: auto;
  height: auto;
  object-fit: contain;
  max-height: calc(90vh - 104px);

  &:active {
    cursor: grabbing;
  }
}

.action {
  color: #bbb;
  position: fixed;
  bottom: 32px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  border-radius: 100px;
  font-size: 20px;
  padding: 10px 32px;
  gap: 24px;
  background-color: var(--bg-modal);

  & > svg {
    cursor: pointer;
    transition: color 150ms;
    &:hover {
      color: #fff;
    }
  }
}
