.wrap {
  display: flex;
  align-items: center;
  min-height: 200px;
  border-radius: 8px;
}

@keyframes cubeRotate {
  0% {
    transform: rotateX(-25.5deg) rotateY(45deg);
  }

  100% {
    transform: rotateX(-25.5deg) rotateY(405deg);
  }
}

.sides {
  animation: cubeRotate 2s ease-in-out infinite;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  transform: rotateX(-25.5deg) rotateY(45deg);

  & > div {
    border: 10px solid var(--p-background);
    border-radius: 8px;
    background: var(--p-cude-bg);
  }

  .top {
    transform: rotateX(90deg) translateZ(44px);
    transform-origin: 50% 50%;
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(44px);
    transform-origin: 50% 50%;
  }
  .front {
    transform: rotateY(0deg) translateZ(44px);
    transform-origin: 50% 50%;
  }
  .back {
    transform: rotateY(-180deg) translateZ(44px);
    transform-origin: 50% 50%;
  }
  .left {
    transform: rotateY(-90deg) translateZ(44px);
    transform-origin: 50% 50%;
  }
  .right {
    transform: rotateY(90deg) translateZ(44px);
    transform-origin: 50% 50%;
  }
}
.cube {
  transform: translate(-18px, -20px) scale(0.25, 0.25);
  margin: auto;
  & * {
    position: absolute;
    width: 96px;
    height: 96px;
  }
}
.back {
  transform: translateZ(-100px) rotateY(180deg);
}
.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
.front {
  transform: translateZ(100px);
}
.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}
.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
}
.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}
