.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  height: calc(100vh - var(--header-h) - 86px);

  & > h1 {
    margin: 0;
    font-size: 32px;
  }
  & > div {
    font-weight: 600;
    font-size: 20px;
  }
}
