.wrap {
  --w: 560px;
  --distance: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 86px;
  background-color: var(--bg-search-panel);
  border-radius: 6px;
  width: var(--w);
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .wrap {
    --w: calc(100% - 32px);
  }
}

.header {
  position: sticky;
  top: 0;
  margin: var(--distance);
  margin-bottom: 8px;
}

.form {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 58px;
  padding: 12px;
  border: 1px solid var(--c-indigo-1);
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--bg-search-panel-item);

  & svg {
    font-size: 20px;
  }
}

.ipt {
  appearance: none;
  color: var(--text-1);
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--bg-search-panel-item);
}

.list_wrapper {
  position: relative;
  max-height: 50vh;
  padding-bottom: var(--distance);
  overflow-y: scroll;
}

.list_type {
  position: sticky;
  top: 0;
  background-color: var(--bg-search-panel);
  margin-left: var(--distance);
  margin-top: var(--distance);
  padding-bottom: 10px;
  color: var(--c-purple-1);
}

.list {
  display: block;
  cursor: pointer;
  background-color: var(--bg-search-panel-item);
  padding: 12px;
  margin: 0 var(--distance) 8px var(--distance);
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-search-panel-item);

  & svg {
    font-size: 20px;
    padding: 12px;
    border-radius: 50%;
    box-sizing: content-box;
  }
}

.date {
  font-size: 14px;
}

.empty {
  font-size: 16px;
  text-align: center;
  padding: 24px 0 12px 0;
}

.type {
  top: 80px;
  color: var(--text-3);
}

.title {
  color: var(--text);
}

.list_active {
  border: 1px solid var(--c-indigo-1);
}

.btn {
  padding: 8px;
  border: none;

  & {
    color: var(--c-indigo-1);
  }
}

.footer {
  background-color: var(--bg-search-panel-footer);
  padding: var(--distance);
  background-origin: padding-box;
  border-radius: 0 0 4px 4px;
  font-size: 12px;
  border-top: 1px solid var(--c-gray-3);

  & svg {
    font-size: 18px;
  }

  &>div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.highlight_word {
  color: var(--c-indigo-1);
  word-break: break-all;
}

.empty_content {
  padding: 0 var(--distance);
  white-space: break-all;

  &>svg {
    margin: 8px auto;
    font-size: 48px;
    color: var(--c-gray-1);
  }
}