.title {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
  padding-left: 12px;
  color: var(--text);
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 6px;
  width: 4px;
  border-radius: 4px;
  background-color: var(--c-indigo-3);
  transition: top, bottom 250ms;
}
