.Banner {
  box-sizing: border-box;
}

.Banner p {
  margin: 0;
}

@media screen and (max-width: 960px) {
  .Banner-Inner {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.Banner-Link {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 6px;
}

.Banner-Year {
  position: relative;
  margin-bottom: 64px;
}

.Banner-Year::before {
  content: attr(data-year);
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  left: -64px;
  top: -64px;
  -webkit-text-stroke: 2px var(--blog-color-lighter);
  color: transparent;
  font-weight: 200;
  font-size: 8em;
}

.Banner-Link:hover .Banner-Title {
  color: var(--blog-theme);
}

.Banner-Cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 24px;
  height: 100%;
}

.Banner-List {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.Banner-Date {
  color: var(--blog-color-light);
  display: flex;
  font-size: 14px;
  align-items: center;
}

.Banner-Date p {
  margin-right: 8px;
}

.Banner-Date svg {
  color: var(--blog-theme);
  margin-right: 4px;
}

.Banner-Title {
  color: var(--blog-color-darker);
  font-size: 18px;
  overflow: hidden;
  transition: color 75ms;
}

.Banner-Tag {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.Banner-Tag > div {
  padding: 2px 6px;
}

.Banner-Tag-Fill {
  border: 1px solid var(--blog-theme);
  border-radius: 18px;
}

@media screen and (max-width: 480px) {
  .Banner-Cover {
    display: none;
  }
}
