.Banner {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Banner p {
  margin: 0;
}

.Banner > a {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: var(--blog-bg-default);
  margin-bottom: 12px;
  padding: 0 8px;
  border: var(--blog-border);
  justify-content: space-between;
  align-items: stretch;
  border-radius: 6px;
}

@media screen and (max-width: 960px) {
  .Banner > a {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.Banner-Cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 24px;
  height: 100%;
}

.Banner-List {
  padding: 16px;
  flex: 1;
}

.Banner-Date {
  margin-top: 4px;
  margin: 8px 0;
  display: flex;
  align-items: flex-end;
}

.Banner-Date p {
  font-size: 11.5px;
  margin-right: 8px;
  color: var(--blog-color-dark);
}

.Banner-Date svg {
  color: var(--blog-theme);
  margin-right: 4px;
}

.Banner-Title {
  margin-left: -6px;
  color: var(--blog-theme);
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

.Banner-Desc {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 8px;
  word-break: break-all;
  color: var(--blog-color-default);
  padding-right: 12px;
}

.Banner-Tag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.7285rem;
  color: var(--blog-theme);
}

.Banner-Tag > div {
  padding: 3px 6px;
}

.Banner-Tag-Fill {
  color: #fff;
  background-color: var(--blog-theme);
  border-radius: 12px;
}

@media screen and (max-width: 480px) {
  .Banner-Cover {
    display: none;
  }
}
