.Banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Banner > a {
  position: relative;
  display: flex;
  background-color: var(--blog-bg-default);
  margin-bottom: 16px;
  padding: 4px 12px;
  border: 1px solid var(--blog-color-lightest);
  transition: border-color 150ms;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  border-radius: 16px;
}

@media screen and (max-width: 960px) {
  .Banner > a {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.Banner > a:hover {
  border-color: var(--blog-theme);
}

.Banner-Cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 24px;
  height: 100%;
}

.Banner-List {
  padding: 16px;
  flex: 1;
}

.Banner-Date {
  margin-top: 4px;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.Banner-Date p {
  font-size: 12px;
  color: var(--blog-color-dark);
}

.Banner-Date svg {
  color: var(--blog-theme);
  margin-right: 4px;
}

.Banner-Title {
  margin-left: -6px;
  color: var(--blog-theme);
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
}

.Banner-Desc {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-bottom: 12px;
  word-break: normal;
  color: var(--blog-color-default);
  padding-right: 12px;
}

.Banner-Tag {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  color: var(--blog-theme);
}

@media screen and (max-width: 480px) {
  .Banner-Cover {
    display: none;
  }
}
