.Cover {
  width: 52px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  background-color: #9c27b0;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px;
}
