.Q-Block,
.A-Block {
  display: flex;
  align-items: center;
  text-align: left;
  min-height: min-content;
  font-size: 20px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 24px;
  color: white;
  max-width: 280px;
  padding: 14px;
  background-color: #9c27b0;
  margin: 10px 16px;
}

.A-Block {
  align-self: flex-start;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  background-color: red;
}

.QA-Emoji {
  font-size: 22px;
  padding: 8px;
  background-color: #d1d1d1;
  border-radius: 50%;
}
