.Footer {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 8px 0;
  color: var(--blog-color-dark);
  text-align: center;
}

.Footer a {
  color: var(--blog-theme);
}

.Footer > div {
  margin-bottom: 4px;
}

.Footer-CopyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  gap: 8px;
}

.Footer-CopyRight span {
  color: var(--blog-color-lighter);
}
