.md {
  color: var(--text-1);
  width: 100%;
  margin: 0;
  word-break: break-word;
  & > * {
    margin-bottom: 12px;
  }

  /* table */
  table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;

    th {
      font-weight: 700;
      background-color: var(--c-gray-soft);
    }
    th,
    td {
      padding: 8px 12px;
      border: 1px solid var(--divider);
    }
    td > :last-child {
      margin-bottom: 0;
    }
    tr {
      background-color: var(--c-gray-soft);
      border-top: 1px solid var(--divider);
    }
    tr:nth-child(2n) {
      background-color: var(--background);
    }
  }

  /* Code blocks and inline Code */

  code:not([class]),
  kbd,
  samp {
    font-weight: 500;
  }
  code:not([class]) {
    font-size: 0.85rem;
    padding: 2px 6px;
    border-radius: 4px;
    color: var(--text);
    background-color: var(--c-gray-soft);
  }

  pre {
    margin: 0;
    font-size: 14px;
    color: var(--text-1);
    overflow: auto;
    tab-size: 2;
    line-height: 1.5;
    border-radius: 0 0 var(--pre-radius) var(--pre-radius);
    padding: 8px 0 8px 12px;
    background-color: var(--bg-md-pre);
    code {
      box-sizing: content-box;
      display: inline-flex;
      flex-wrap: wrap;
      color: inherit;
      background-color: inherit;
    }
  }

  .pre-wrap {
    overflow: hidden;
    & pre {
      border: 1px solid var(--divider);
      border-top: none;
    }
  }

  .pre-bar {
    font-size: 14px;
    display: flex;
    border: 1px solid var(--divider);
    font-weight: 600;
    justify-content: space-between;
    border-radius: var(--pre-radius) var(--pre-radius) 0 0;
    align-items: center;
    border-bottom: 1px solid var(--divider);
    padding: 6px 0;
  }

  .pre-lang {
    padding-left: 16px;
  }

  .pre-wrap svg {
    font-size: 18px;
    display: block;
  }

  .pre-copy {
    color: var(--text-2);
    cursor: pointer;
    padding: 4px;
    margin-right: 20px;
    transition: color 150ms ease-out;
    border-radius: 8px;
  }

  .pre-copy:hover {
    color: var(--text);
  }
  /* blockquote */
  blockquote {
    position: relative;
    font-size: 14px;

    margin: 0;
    margin-bottom: 12px;
    padding: 8px 0;
    margin-left: calc(var(--extend-x) / 2);
    padding-left: 18px;
    border-left: 4px solid var(--bg-md-quote-before);
    p {
      margin: 0;
      line-height: 24px;
    }
  }
  blockquote[class] {
    border-radius: 2px;
    border-left: none;
    margin-left: 0;
    padding-left: 16px;
  }
  blockquote[data-title] p:first-child {
    font-weight: 600;
    margin-bottom: 4px;
  }
  .blockquote-info {
    background-color: var(--bg-md-quote-info);

    code {
      color: var(--c-purple-1);
      background-color: var(--c-purple-soft);
    }
  }
  .blockquote-warn {
    background-color: var(--bg-md-quote-warn);

    code {
      color: var(--c-yellow-1);
      background-color: var(--c-yellow-soft);
    }
  }
  .blockquote-danger {
    background-color: var(--bg-md-quote-danger);
    code {
      color: var(--c-red-1);
      background-color: var(--c-red-soft);
    }
  }
  /* Image */
  img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    cursor: pointer;
    object-fit: contain;
  }
  .image-wrap {
    --gap: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--gap);
    & > img {
      width: calc(var(--image-item-w) - var(--gap));
    }
  }

  /* Details */
  details {
    font-size: 14px;
    padding: 16px 16px 8px;
    border-radius: 2px;
    background-color: var(--c-gray-soft);
    margin-bottom: 8px;

    summary {
      margin-bottom: 8px;
      font-weight: 600;
      cursor: pointer;
    }

    p {
      margin: 8px 0;
    }
  }

  .line {
    display: inline-block;
    width: 100%;
  }
  .line[line]::before {
    content: attr(line);
    min-width: 26px;
    display: inline-block;
  }
  .highlight-line {
    box-sizing: content-box;
    padding-left: 16px;
    margin-left: -16px;
    background-color: var(--bg-md-highlight-line); /* Set highlight bg color */
  }

  /* strong,italic */
  strong,
  em {
    color: var(--text);
  }
}

html[data-theme='dark'] .shiki,
html[data-theme='dark'] .shiki span:not(.highlight-line) {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* 可选，用于定义字体样式 */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
