.md {
  color: var(--text-1);
  width: 100%;
  margin: 0;
  word-break: break-all;
  & > * {
    margin-bottom: 12px;
  }

  & > p {
    line-height: 26px;
  }

  /* table */
  table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;

    th {
      font-weight: 700;
      background-color: var(--bg-md-table-header);
    }
    th,
    td {
      padding: 8px 12px;
      border: 1px solid var(--divider);
    }
    td > :last-child {
      margin-bottom: 0;
    }
    tr:nth-child(2n) {
      background-color: var(--background);
    }
    tr {
      transition: background-color 125ms;
      background-color: var(--bg-md-table-th);
      border-top: 1px solid var(--divider);
      &:hover {
        background-color: var(--c-gray-soft);
      }
    }
  }

  /* Code blocks and inline Code */

  code:not([class]),
  kbd,
  samp {
    font-weight: 600;
  }
  code:not([class]) {
    font-size: 0.85rem;
    padding: 2px 6px;
    border-radius: 4px;
    color: var(--text);
    background-color: var(--c-gray-soft);
  }

  pre {
    margin: 0;
    font-size: 14px;
    color: var(--text-1);
    overflow: auto;
    tab-size: 2;
    line-height: 1.45;
    border-radius: var(--pre-radius);
    background-color: var(--bg-md-pre);
    border: 1px solid var(--divider);
    padding: 10px 0px 10px 12px;
    code {
      box-sizing: content-box;
      display: inline-flex;
      flex-wrap: wrap;
      color: inherit;
      background-color: inherit;
    }
  }

  /* blockquote */
  blockquote {
    position: relative;
    font-size: 14.5px;
    color: var(--text-2);
    margin: 0;
    margin-bottom: 12px;
    padding: 8px 0;
    margin-left: calc(var(--extend-x) / 2);
    padding-left: 18px;
    border-left: 4px solid var(--bg-md-quote-before);
    p {
      margin: 0;
      line-height: 24px;
    }
  }
  blockquote[class] {
    color: var(--text-1);
    border-radius: 2px;
    border-left: none;
    margin-left: 0;
    padding-left: 16px;
  }
  blockquote[data-title] p:first-child {
    font-weight: 600;
    margin-bottom: 4px;
  }
  .blockquote-info {
    background-color: var(--bg-md-quote-info);

    code {
      color: var(--c-purple-1);
      background-color: var(--c-purple-soft);
    }
  }
  .blockquote-warn {
    background-color: var(--bg-md-quote-warn);

    code {
      color: var(--c-yellow-1);
      background-color: var(--c-yellow-soft);
    }
  }
  .blockquote-danger {
    background-color: var(--bg-md-quote-danger);
    code {
      color: var(--c-red-1);
      background-color: var(--c-red-soft);
    }
  }
  /* Image */
  img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    cursor: pointer;
    object-fit: contain;
    border-radius: 4px;
    transition: border-radius 250ms;
    &:hover {
      border-radius: 0;
    }
  }
  .image-wrap {
    --gap: 6px;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap);
    row-gap: calc(var(--gap) * 1.25);
    & > img {
      width: calc(var(--image-item-w) - var(--gap));
      &:last-child {
        width: auto;
      }
    }
  }

  /* Details */
  details {
    font-size: 14px;
    padding: 16px 16px 8px;
    border-radius: 2px;
    background-color: var(--c-gray-soft);
    margin-bottom: 8px;

    summary {
      margin-bottom: 8px;
      font-weight: 600;
      cursor: pointer;
    }

    p {
      margin: 8px 0;
    }
  }
  a {
    font-size: 15px;
  }
  .line {
    display: inline-block;
    min-height: 16px;
    width: 100%;
  }
  .line[data-line]::before {
    content: attr(data-line);
    display: inline-block;
    color: var(--text-2);
    min-width: 26px;
  }
  .highlight-line,
  .deleted,
  .inserted {
    box-sizing: content-box;
    padding-left: 16px;
    margin-left: -16px;
  }
  .highlight-line {
    background-color: var(--bg-md-highlight-line); /* Set highlight bg color */
  }
  .deleted {
    background-color: var(--c-red-soft);
  }
  .inserted {
    background-color: var(--c-green-soft);
  }
}
