.action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--text-3);
  overflow-x: auto;
  scrollbar-width: none;
  font-size: var(--text-lg);

  &::-webkit-scrollbar {
    height: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 8px;
  gap: 8px;
  transition: color 150ms;

  &:hover {
    color: var(--text-1);
  }

  &.active {
    color: var(--text);
    background-color: var(--c-gray-soft);
  }

  & svg {
    box-sizing: content-box;
    padding: 4px;
    border-radius: 50%;
  }
}
