.list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--shadow-box-light);
  background-color: var(--bg-card);
  margin-bottom: 16px;
  border-radius: 12px;
  flex-grow: 1;
  gap: 10px;
  flex-direction: column;
  padding: 20px 32px;
}

@media screen and (max-width: 960px) {
  .list {
    padding: 24px 16px;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px dashed var(--divider);

    &:last-child {
      border-bottom: none;
    }
  }

  .title::before {
    display: none;
  }
}


.title {
  font-size: var(--text-2xl);
  margin: 4px 0;
}

.desc {
  margin: 4px 0;
  line-height: 1.65rem;
  color: var(--text-1-dim);
  word-break: break-all;
  font-size: var(--text-sm);
}

.year {
  font-weight: 700;
  margin: 8px 0;
  font-size: 20px;
  text-indent: 4px;
}

.locale {
  font-size: var(--text-base);
  padding: 6px;
  font-weight: 400;
  border-radius: 4px;
  background-color: #a1a1aa26;
  color: var(--text-2);
}

.bottom {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-4);
  font-size: var(--text-sm);
}