.wrap {
  margin: 0 var(--extend-x);
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: stretch;
  overflow: hidden;
  border-radius: 0 0 var(--pre-radius) var(--pre-radius);
  border: 1px solid var(--divider);
  border-top: none;
  background-color: var(--bg-md-pre);

  & > div:first-child {
    border-right: 1px solid var(--divider);
    & pre {
      max-height: 70vh;
      border: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

    & > div:first-child {
      border-right: none;
      border-bottom: 1px solid var(--divider);
    }
  }
}

.bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--bg-md-pre);
  font-weight: 600;
  border-radius: var(--pre-radius) var(--pre-radius) 0 0;
  border: 1px solid var(--divider);
}
