.OpenSource {
  padding-top: 4px;
  font-size: 14px;
}
.OpenSource-Left {
  padding-top: 4px;
  color: var(--blog-theme);
}

.OpenSource-Right {
  text-align: inherit;
  color: var(--blog-theme);
  padding: 4px 0;
}

.OpenSource-Event-Name {
  font-size: 18px;
}
