html[data-theme='dark'] {
  /* text */
  --text: #fafafa;
  --text-4: rgba(205, 205, 205, 0.4);
  --text-3: rgba(205, 205, 205, 0.56);
  --text-2: rgba(205, 205, 205, 0.82);
  --text-1: rgba(205, 205, 205);
  /* border */
  --divider: #262626;
  /* color */
  --c-yellow-soft: rgba(234, 179, 8, 0.16);
  --c-yellow-3: #a46a0a;
  --c-yellow-2: #da8b17;
  --c-yellow-1: #f9b44e;
  --c-red-soft: rgba(244, 63, 94, 0.16);
  --c-red-3: #b62a3c;
  --c-red-2: #f14158;
  --c-red-1: #f66f81;
  --c-purple-soft: rgba(159, 122, 234, 0.16);
  --c-purple-3: #8e5cd9;
  --c-purple-2: #a879e6;
  --c-purple-1: #c8abfa;
  --c-indigo-soft: rgba(100, 108, 255, 0.16);
  --c-indigo-3: #3e63dd;
  --c-indigo-2: #5c73e7;
  --c-indigo-1: #a8b1ff;
  --c-green-soft: rgba(16, 185, 129, 0.16);
  --c-green-3: #298459;
  --c-green-2: #30a46c;
  --c-green-1: #3dd68c;
  --c-gray-soft: rgba(102, 121, 141, 0.16);
  --c-gray-3: #32363f;
  --c-gray-2: #414853;
  --c-gray-1: #515c67;
  /* background */
  --bg-md-quote-before: #222;
  --bg-md-quote-warn: #3d341b;
  --bg-md-quote-info: #272843;
  --bg-md-quote-danger: rgba(244, 63, 94, 0.16);
  --bg-md-pre: #0e0e0e;
  --bg-md-pre-bar: #181818;
  --bg-md-highlight-line: rgba(47, 55, 58, 0.5);
  --bg-md-code: #272e35;
  --bg-md-table-header: #161618;
  --bg-md-table-th: #090910;
  --bg-header: #050505;
  --bg-body: #000;
  --bg-scrollbar: #212123;
  --bg-tag: #181818;
  --bg-vertical-line: #444;
  /* shadow */
  --shadow-header: 3px 3px 16px #080808, 3px 3px 16px #1a1a1a;
  /* console */
  --console-num: #4c9a91;
  --console-string: #c98a7d;
  --console-none: #cb7676;
  --console-bool: #4d9375;
  --console-symbol: #80a665;
}
