.action {
  display: flex;
  gap: 24px;
  font-size: 24px;
  color: var(--text-3);
  margin-top: calc(var(--header-h) + 86px);
  margin-bottom: 32px;
}

.action a {
  transition: color 150ms;
  &:hover {
    color: var(--text-1);
  }
}

.active {
  color: var(--text-1);
}
