.Button-Bg {
  text-align: center;
  margin: 16px 0;
}

.Button-Bg > a {
  font-size: 12px;
  border-radius: 6px;
  padding: 10px 14px;
  background-color: var(--blog-theme);
  box-shadow: var(--blog-shadow-wide);
  color: #fff;
  transition: box-shadow 200ms;
}

.Button-Bg > a:hover {
  box-shadow: var(--blog-shadow-wider);
}
