.List-Top-Wrap {
  display: flex;
  align-items: flex-start;
  padding: 8px 0 8px 8px;
}

.List-Top-Wrap a {
  padding-top: 10px;
}

.List-Top-Wrap img {
  border-radius: 50%;
}

.List-Top-Itd {
  padding: 8px;
  margin-left: 4px;
}

.List-Top-Name {
  padding-bottom: 4px;
  letter-spacing: 0.15px;
}

.List-Top-Bio {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
