.List-Center {
  position: relative;
}

.List-Center::before,
.List-Center::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to left, #fff, rgba(0, 0, 0, 0.25), #fff);
}

.List-Center::before {
  top: -12px;
}

.List-Center::after {
  bottom: 0px;
}

.List-Center-Badge {
  display: flex;
  gap: 26px;
  justify-content: center;
  padding-top: 4px;
  margin-bottom: 2px;
}

.List-Center-Badge .Btn-Link {
  padding: 12px 14px;
}
