.Toc-List {
  font-size: 13px;
  padding: 6px 0;
  max-height: 70vh;
  overflow-y: scroll;
}

.Toc-List > a {
  position: relative;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
  border-radius: 4px;
  transition: color 100ms;
}

.Toc-List > a:hover {
  color: var(--blog-theme);
}

.Toc-List-Active {
  color: var(--blog-theme);
}

.Toc-P-1 {
  font-weight: 600;
  padding-left: 12px;
}
.Toc-P-2 {
  color: var(--blog-color-darker);
  padding-left: 30px;
}
.Toc-P-3 {
  color: var(--blog-color-default);
  padding-left: 48px;
}
