.Toc-List {
  font-size: 14px;
  padding: 6px 0;
  max-height: 35vh;
  overflow-y: scroll;
}

.Toc-List > a {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 8px;
  border-radius: 4px;
  transition: background-color 100ms;
}

.Toc-List > a:hover {
  background-color: var(--blog-hover-default);
}

.Toc-List-Active {
  background-color: var(--blog-hover-default);
}

.Toc-P-1 {
  padding-left: 12px;
}
.Toc-P-2 {
  padding-left: 22px;
}
.Toc-P-3 {
  padding-left: 32px;
}
