.Toc-List-Wrap {
  padding: 6px 0;
  max-height: 30vh;
  overflow-y: scroll;
}

.Toc-List {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
}

.Toc-List:hover {
  background-color: var(--blog-hover-dark) !important;
}

.Toc-Block {
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100%;
  width: 12px;
  height: 20px;
  border-radius: 0 50% 50% 0;
  background-color: var(--blog-theme);
}

.Toc-List-Level-1 {
  padding-left: 16px;
}

.Toc-List-Level-2 {
  padding-left: 32px;
}

.Toc-List-Level-3 {
  padding-left: 48px;
}

.Toc-List-Active {
  color: var(--blog-theme);
  font-weight: bold;
}
