.Main {
  flex: 1;
  border-radius: 6px;
  margin: 0 20px;
  background-color: var(--blog-bg-default);
  box-shadow: var(--blog-shadow);
  overflow-x: scroll;
  overflow-y: hidden;
}

.Main:has(> .Banner) {
  background-color: transparent;
  box-shadow: none;
}
