.Main {
  position: absolute;
  left: 18%;
  right: 19%;
  border-radius: 6px;
  min-height: calc(100vh - 160px);
  background-color: var(--blog-bg-default);
  margin: 0 8px;
  box-shadow: var(--blog-shadow);
  overflow: hidden;
}

.Main:has(> .Banner-Wrap) {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
}

@media screen and (max-width: 1240px) {
  .Main {
    right: 0;
    left: 29%;
  }
}

@media screen and (max-width: 960px) {
  .Main {
    right: 0;
    left: 0;
  }
}
