.Main {
  flex: 1;
  border-radius: 6px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: var(--blog-shadow);
  overflow-x: scroll;
  overflow-y: hidden;
}

.Main:has(> .Banner) {
  background-color: transparent;
  box-shadow: none;
}
