.List-Center {
  margin: 16px 0;
}

.List-Center-Btn-List {
  margin: 12px 0;
}

.List-Center-Badge {
  display: flex;
  gap: 26px;
  justify-content: center;
}

.List-Center .Stack {
  padding: 0;
}

.List-Center-Badge .Btn-Link {
  padding: 12px 14px;
}


