.wrapper {
  position: relative;
  margin: 64px 0;
  font-family:
    -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  &::before {
    content: "";
    position: absolute;
    top: -36px;
    right: 25%;
    left: 25%;
    height: 1px;
    background-color: var(--divider);
  }
}

.loading_wrap {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
}

.loading {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}

.comment_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px 0;
  gap: 16px;
}

.add_link {
  display: flex;
  align-items: center;
  color: var(--c-indigo-3);
  text-underline-offset: 4px;
  &:hover {
    text-decoration: underline;
  }
  & > svg {
    font-size: 18px;
  }
}

.count {
  color: var(--text);
  font-weight: 700;
}

.top {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  padding: 12px 12px 0 12px;
  & > img {
    border-radius: 50%;
  }
}

.item {
  box-sizing: content-box;
  overflow: hidden;
  border: 1px solid var(--divider);
  background-color: var(--bg-md-pre);
  border-radius: 6px;
  margin-bottom: 16px;

  & > textarea {
    color: var(--text-1);
    border-radius: 0;
    border-color: transparent;
    margin-top: 12px;
    border-bottom: 1px solid var(--divider);
    border-top: 1px solid var(--divider);
    &:focus {
      border: 1px solid var(--c-indigo-3);
    }
  }
}

.submit {
  display: flex;
  align-items: center;
  margin: 0 12px 6px 6px;
  background-color: var(--bg-md-pre);
  & > button {
    margin: 0;
  }
}

.login {
  color: var(--text);
}

.date {
  font-size: 12px;
}

.owner {
  border: 1px solid var(--divider);
  background-color: var(--c-indigo-soft);
  font-size: 12px;
  padding: 1px 7px;
  border-radius: 12px;
}

.github_login {
  margin-top: 8px;
  margin-bottom: 24px;
}

.body {
  font-size: 14px;
  padding: 0 12px;
  color: var(--text) !important;

  & a {
    color: var(--c-indigo-3);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  & blockquote {
    margin-left: 0 !important;
  }
}

.reactions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  padding: 0 12px 12px 8px;
  & > div {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    white-space: nowrap;
    border-radius: 16px;
    border: 1px solid var(--c-purple-soft);
    cursor: pointer;
    transition: background-color 0.15s;
    font-weight: 700;
    &:hover {
      background-color: var(--c-purple-soft);
    }
  }
}
