.toc {
  height: 100%;
  color: var(--text-2);
  overflow-x: hidden;
  position: sticky;
  top: 120px;
  z-index: 99;
  font-size: 14px;
  padding-left: 32px;
  width: var(--center-rest);
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
}

@media screen and (max-width: 1024px) {
  .toc {
    display: none;
  }
}

.link {
  display: block;
  height: 28px;
  line-height: 28px;
  transition: color 150ms;
  overflow: hidden;
  border-width: 0;
  border-left-width: 1px;
  border-style: solid;
  border-color: var(--divider);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link:hover {
  color: var(--text);
}

.active {
  color: var(--text);
  border-color: var(--c-md-toc-active);
}

.title {
  font-weight: 700;
  color: var(--text);
}

.action {
  font-size: 24px;
  margin-top: 12px;
  padding-left: 16px;

  & > div {
    cursor: pointer;
    transition: color 150ms ease-in-out;
    &:hover {
      color: var(--text);
    }
  }
}
