.toc {
  height: 100%;
  color: var(--text-2);
  overflow-x: hidden;
  position: sticky;
  right: 0;
  top: 140px;
  z-index: 9;
  padding-left: 64px;
  width: var(--center-rest);
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
}

@media screen and (max-width: 960px) {
  .toc {
    display: none;
  }
}

.inner {
  padding-top: 16px;
}

.item {
  display: block;
  font-size: 14px;
  max-width: 300px;
  height: 30px;
  line-height: 30px;
  transition: color 150ms;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item:hover {
  color: var(--text);
}

.active {
  color: var(--text);
}

.title {
  position: sticky;
  top: 0;
  left: 16px;
  background-color: var(--bg-body);
  font-size: 18px;
  font-weight: 700;
  color: var(--text);
}
