.Title {
  text-align: center;
  font-size: 22px;
  width: 100%;
  padding: 22px 0;
  font-weight: 700;
  color: #fff;
  border-radius: 0 0 50% 50%;
  background-color: #1976d2;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.Title:hover {
  border-radius: 0 0 24px 24px;
}
