.wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--text-sm);
  color: var(--text-3);
  font-weight: 600;

  & svg {
    background-color: var(--c-indigo-soft);
    padding: 4px;
    height: 30px;
    width: 30px;
    font-size: var(--text-3xl);
    color: var(--c-indigo-1);
    border-radius: 6px;
  }

  > * {
    height: 30px;
  }
}

.card {
  padding: 0 8px;
}

.tag {
  gap: 0;
}

@media screen and (max-width: 960px) {
  .tag {
    display: none;
  }
}

.link_card {
  height: 100%;
  border-radius: 8px;
  font-weight: 600;
  position: relative;
  transition: color, background-color 0.15s;

  &:hover::before {
    transform: scale(1);
    background-color: var(--c-indigo-soft);
    color: var(--c-indigo-1);
  }

  &::before {
    content: '';
    position: absolute;
    transition: transform, background-color 0.15s cubic-bezier(0, 0, .2, 1);
    inset: 0;
    transform: scale(0.85);
    border-radius: inherit;
    z-index: -1;
    margin: 0 2px;
  }
}