.wrap {
  margin-top: 36px;
}

.action {
  display: flex;
  color: var(--text-4);
  margin-bottom: 36px;
  gap: 24px;

  & > a {
    transition: color 150ms;
    font-size: 24px;

    &:hover {
      color: var(--text-1);
    }
  }
}

@media screen and (max-width: 1024px) {
  .action {
    gap: 18px;
  }
}

.active {
  color: var(--text-1);
}

.artlist {
  margin-top: 48px;
  min-height: 60vh;
}

.link {
  display: block;
  margin-bottom: 32px;
}

.top {
  display: flex;
  align-items: baseline;
  column-gap: 12px;
}

.title {
  font-weight: 600;
  margin-top: 0;
  padding: 4px 0;
  color: var(--text);
}

.date {
  color: var(--text-3);
  font-size: 14px;
}

.desc {
  font-size: 13px;
  line-height: 1.5;
}

.subtitle {
  color: var(--text-3);
  font-weight: 600;
  margin-bottom: 6px;
}

.empty {
  color: var(--text-2);
  font-size: 16px;
}
