.wrap {
  margin-top: 36px;
  width: var(--list-w);
}

.action {
  display: flex;
  color: var(--text-4);
  margin-bottom: 48px;
  gap: 24px;

  & > a {
    transition: color 150ms;
    font-size: 24px;

    &:hover {
      color: var(--text-1);
    }
  }
}

@media screen and (max-width: 960px) {
  .action {
    gap: 18px;
  }
}

.active {
  color: var(--text-1);
}

.artlist {
  margin-top: 48px;
  min-height: 70vh;
}

.link {
  display: block;
  margin-bottom: 40px;
}

.top {
  display: flex;
  align-items: baseline;
  column-gap: 12px;
}

.link:hover .title {
  border-color: var(--c-indigo-1);
}

.title {
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 3px;
  padding-bottom: 1px;
  color: var(--text);
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  border-style: solid;
}

.date {
  color: var(--text-3);
  font-size: 14px;
}

.desc {
  font-size: 13px;
  line-height: 1.5;
}

.subtitle {
  color: var(--text-3);
  font-weight: 600;
  margin-bottom: 6px;
}

.empty {
  color: var(--text-2);
  font-size: 16px;
}
