.Toc-Wrap {
  align-self: stretch;
}

.Toc {
  position: sticky;
  top: 24px;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--blog-bg-default);
  min-width: 240px;
}

:is(.Toc) p,
h4 {
  margin: 0;
}

@media screen and (max-width: 1240px) {
  .Toc {
    display: none;
  }
}

.Toc h4 {
  padding-top: 8px;
}

.Toc-Date {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.Toc-Date p {
  font-size: 13px;
  padding: 4px 0;
}

.Toc-Tags {
  padding-bottom: 12px;
}

.Toc-Tags .Tag {
  font-size: 0.7225rem;
}

.Toc-Bottom {
  padding: 8px 0 8px 12px;
}
