.Toc-Wrap {
  align-self: stretch;
  width: 180px;
  transform: translateX(30px);
}

.Toc {
  position: sticky;
  top: 10%;
  padding: 12px;
}

.Toc-Title {
  font-size: 18px;
  padding-top: 4px;
}

@media screen and (max-width: 1240px) {
  .Toc {
    display: none;
  }
}

.Toc-Date {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.Toc-Date p {
  font-size: 14px;
  padding: 4px 0;
}
