.wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  & > div {
    margin-top: 36px;
  }
}

@media screen and (max-width: 960px) {
  .wrap {
    width: 100%;
  }
}

.action {
  display: flex;
  color: var(--text-4);
  padding-top: 24px;
  margin-bottom: 48px;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 32px;

  &::-webkit-scrollbar {
    height: 0;
  }

  & > a {
    transition: color 150ms;
    font-size: 24px;

    &:hover {
      color: var(--text-1);
    }
  }
}

@media screen and (max-width: 960px) {
  .action {
    gap: 18px;
    padding-top: 0;
  }
}

.active {
  color: var(--text-1);
}

.artlist {
  margin-top: 24px;
}

.link {
  display: block;
  margin-bottom: 48px;
}

.top {
  display: flex;
  align-items: baseline;
  column-gap: 12px;
}

.title:hover {
  border-color: var(--c-indigo-1);
}

.title {
  font-weight: 600;
  margin-bottom: 4px;
  color: var(--text);
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  border-style: solid;
}

.date {
  font-size: 13.25px;
  color: var(--text-3);
}

.desc {
  font-size: 13.25px;
  line-height: 1.65;
}

.subtitle {
  color: var(--text-3);
  font-weight: 600;
  margin-bottom: 6px;
}

.empty {
  color: var(--text-2);
  font-size: 16px;
}

.tagwrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  margin-top: 2px;

  & > div {
    font-size: 12px;
  }
}
