.wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 960px) {
  .wrap {
    width: 100%;
  }
}

.action {
  display: flex;
  color: var(--text-4);
  padding-top: 24px;
  margin-bottom: 32px;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 32px;

  &::-webkit-scrollbar {
    height: 0;
  }

  & > a {
    transition: color 150ms;
    font-size: 22px;

    &:hover {
      color: var(--text-1);
    }
  }
}

@media screen and (max-width: 960px) {
  .action {
    gap: 18px;
    padding-top: 0;
  }
}

.active {
  color: var(--text-1);
}

.link {
  display: block;
  padding: 16px;
  margin-bottom: 24px;
  transform: translateX(-16px);
  border-width: 1px;
  border-style: solid;
  border-color: var(--divider);
  border-radius: 12px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--c-gray-soft);
    border-color: var(--c-indigo-soft);
  }
}

.top {
  display: flex;
  align-items: baseline;
  column-gap: 12px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: var(--text);
  margin-bottom: 0.65rem;
}

.date {
  font-size: 13.25px;
}

.desc {
  font-size: 13px;
  line-height: 1.5rem;
  color: var(--text-2);
  margin-bottom: 0.65rem;
}

.subtitle {
  color: var(--text-3);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.empty {
  color: var(--text-2);
  font-size: 16px;
}

.tagwrap {
  display: flex;
  align-items: center;
  gap: 8px;

  & > div {
    font-size: 14px;
  }
}

.info {
  display: flex;
  gap: 8px;
  margin-bottom: 0.25rem;
}

.split {
  color: var(--text-4);
  font-weight: 200;
}
