.Side-Archive-Link {
  display: flex;
  justify-content: space-between;
  padding: 12px 48px;
  margin: 8px 16px;
  border-radius: 12px;
}

.Side-Archive-Link div:first-child {
  font-size: 18px;
  color: #1976d2;
  font-weight: bold;
}

.Side-Archive-Link div:last-child {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}
