.Side-Archive-Link {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 8px 12px;
  border-radius: 12px;
}

.Side-Archive-Link div:last-child {
  color: var(--blog-theme);
}

.Side-Title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 12px 12px;
  margin-bottom: 6px;
  font-size: 16px;
}

.Side-Title::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--blog-color-lighter);
}
