.Navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
  margin-right: 10px;
}

@media screen and (max-width: 960px) {
  .Navbar {
    display: none;
  }
}

.Navbar-Link {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
  background-color: var(--blog-bg-default);
  transition: background-color 150ms;
  font-size: 0.8725rem;
  border-radius: 10px;
  align-items: center;
}

.Navbar-Link:hover {
  background-color: var(--blog-color-lighter);
}

.Navbar-Link svg {
  color: var(--blog-theme);
  font-size: 18px;
}
