.Navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6px;
  margin-bottom: 16px;
}

.Navbar-Link {
  display: flex;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  align-items: center;
  transition: color 120ms;
}

.Navbar-Link:hover {
  color: var(--blog-theme);
}

.Navbar-Link-Active {
  color: var(--blog-theme);
  background-color: var(--blog-bg-default);
}

.Navbar-Link svg {
  margin-left: 4px;
  font-size: 22px;
}
