@keyframes scale-in {
  0% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

.action {
  position: absolute;
  top: 8px;
  right: 12px;
  pointer-events: none;
  overflow: hidden;
  color: var(--text-2);
  transition: opacity 250ms;
  opacity: 0;

  & svg {
    box-sizing: content-box;
    transform: scale(0.5);
    animation: scale-in 0.15s forwards;
    z-index: 9;
    border-radius: 8px;
    font-size: var(--text-lg);
    padding: 9px;
    cursor: pointer;
    background-color: var(--c-gray-soft);
    border: 1px solid var(--divider);
    transition: 150ms;

    &:hover {
      background-color: var(--c-indigo-soft);
      color: var(--c-indigo-1);
    }
  }

  &:hover {
    opacity: 1;
  }

}

.wrap {
  position: relative;
  width: 100%;

  &:hover {
    .action {
      pointer-events: all;
      opacity: 1;
    }
  }

  &+.wrap {
    margin-top: 16px;
  }
}