.wrap {
  position: fixed;
  left: 32px;
  top: calc(var(--header-h) + 36px);
  z-index: 9;
  max-width: calc(var(--center-rest) / 1.8);
  overflow-y: auto;
  line-height: 1.5;
  height: calc(100vh - var(--header-h));
}

@media screen and (max-width: 1024px) {
  .wrap {
    display: none;
  }
}

.btn {
  cursor: pointer;
  font-size: 22px;
  color: var(--text-3);
  transition: color 250ms;
}

.content {
  opacity: 0;
  transition: opacity 250ms;
}
.wrap:hover .btn {
  color: var(--text-1);
}
.wrap:hover .content {
  opacity: 1;
}
.year {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 8px;
  margin-top: 12px;
}

.item + .item {
  padding-top: 12px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 12px;
  font-size: 12px;
  margin: 0;

  & > li {
    list-style: none;
    & > a {
      border-width: 0;
      border-bottom-width: 1px;
      border-style: dashed;
      border-color: var(--divider);
      color: var(--text-2);
      transition: border-color 280ms, color 150ms;

      &:hover {
        color: var(--text);
        border-color: var(--text-2);
      }
    }
  }
}
