.Side {
  width: 240px;
}

.Side > div {
  overflow: hidden;
  padding: 2px 0;
  background-color: var(--blog-bg-default);
  border-radius: 12px;
  box-shadow: var(--blog-shadow);
  margin-bottom: 18px;
}

.Side-Archive-Link {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 8px 4px;
  border-radius: 12px;
}

.Side-Archive-Link div:last-child {
  color: var(--blog-theme);
}

.Side-Title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 12px 12px;
  margin-bottom: 6px;
  font-size: 16px;
}

.Side-Title-Link {
  height: 21px;
}

.Side-Title-Link > svg {
  color: #c1b6ff;
  font-size: 22px;
}

.Side-Title::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--blog-color-lighter);
}

@media screen and (max-width: 1240px) {
  .Side {
    display: none;
  }
}
