.Side {
  width: 240px;
}

.Side > div {
  overflow: hidden;
  padding: 2px 0;
  background-color: var(--blog-bg-default);
  border: var(--blog-border);
  border-radius: 4px;
  box-shadow: var(--blog-shadow);
  margin-bottom: 18px;
}

.Side .Side-Me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px 0;
  justify-content: space-around;
}

.Side-Blog {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.Side-Blog a {
  font-size: 13px;
  margin-top: 4px;
  padding: 4px 12px;
  border-radius: 4px;
  color: var(--blog-color-default);
  transition: background-color 150ms;
}

.Side-Blog a:hover {
  background-color: rgba(57, 87, 200, 0.15);
}

.Side-Follow-Me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  background-color: var(--blog-theme);
  margin-top: 4px;
  width: 80%;
  color: #eee;
  padding: 8px 0;
  border-radius: 8px;
  transition: opacity 150ms;
}

.Side-Follow-Me:hover {
  opacity: 0.85;
}

.Side-Follow-Me > svg {
  font-size: 18px;
}

.Side-Location {
  display: flex;
  align-items: center;
  color: var(--blog-color-dark);
  font-size: 12px;
}

.Side-Location > svg {
  font-size: 14px;
  color: var(--blog-theme);
}

.Side-Count {
  color: var(--blog-theme);
  font-size: 18px;
  margin-top: 6px;
}

.Side-Name {
  font-size: 16px;
  color: var(--blog-color-dark);
  font-weight: 600;
}

.Side-Me > img {
  border-radius: 50%;
}

.Side-Archive-Link {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 8px 4px;
  border-radius: 12px;
}

.Side-Archive-Link div:last-child {
  color: var(--blog-theme);
}

.Side-Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  color: var(--blog-color-default);
}

.Side-Title-Link > svg {
  color: #c1b6ff;
  font-size: 22px;
}

@media screen and (max-width: 1240px) {
  .Side {
    display: none;
  }
}
