.Side {
  width: 240px;
}

.Side > div {
  overflow: hidden;
  padding: 2px 0;
  border-radius: 4px;
  margin-bottom: 16px;
}

.Side .Side-Me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px 0;
  justify-content: space-around;
}

.Side-Blog {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 4px 0;
}

.Side-Blog a {
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--blog-color-default);
  transition: background-color 150ms;
}

.Side-Blog a:hover {
  background-color: rgba(57, 87, 200, 0.15);
}

.Side-Location {
  display: flex;
  align-items: center;
  color: var(--blog-color-dark);
  font-size: 14px;
}

.Side-Location > svg {
  font-size: 15px;
  margin-right: 2px;
  color: var(--blog-theme);
}

.Side-Count {
  color: var(--blog-theme);
  font-size: 18px;
  margin-top: 6px;
}

.Side-Name {
  font-size: 22px;
  color: var(--blog-color-dark);
  font-weight: 600;
}

.Side-Me > img {
  border-radius: 50%;
}

.Side-Archive-Link {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 12px;
  transition: color 150ms;
}

.Side-Archive-Link:hover {
  color: var(--blog-theme);
}

.Side-Archive-Link div:last-child {
  color: var(--blog-theme);
}

.Side-Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  font-weight: 600;
  color: var(--blog-color-default);
}

@media screen and (max-width: 1240px) {
  .Side {
    display: none;
  }
}
